<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>L4D2 Statistics</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css"/>

    <style>
        a, a:visited, a:hover, a:active {
            color: inherit;
        }
        .navbar {
            margin-bottom: 0;
        }

        .vertical-align-middle {
            vertical-align: middle !important;
        }

        .bold {
            font-weight: bold;
        }

        .match .panel h4,
        .match .panel p {
            margin: 0;
        }

        .match .icon {
            width: 16px;
        }

        .match .teams .col-xs-6 {
            padding-right: 5px;
            padding-left: 5px;
        }

        .match table {
            margin-bottom: 0 !important;
        }

        .match .img-campaign {
            max-height: 175px;
        }

        @@media screen and (min-width: 700px) {
            .slim {
                width: 1px;
                white-space: nowrap;
            }
        }

        @@media screen and (max-width: 700px) {
            .hide-mobile {
                display: none !important;
            }

            .match .left-side {
                width: 100% !important;
                margin-bottom: 10px;
            }

            .match .right-side {
                width: 100% !important;
            }

            .table-responsive thead,
            .table-responsive tfoot,
            .table-responsive th {
                display: none;
            }

            .table-responsive tr {
                border-top: 1px solid #ddd;
                display: block;
                margin: 0;
                padding: 0;
            }

            .table-responsive td {
                border-bottom: 1px solid #ddd;
                display: block;
                text-align: right !important;
                padding: 5px !important;
                margin: 0px !important;
                overflow-wrap: anywhere;
            }

                .table-responsive td::before {
                    content: attr(data-label);
                    float: left;
                    vertical-align: middle;
                    font-weight: bold;
                    padding-right: 15px;
                }
        }
    </style>

    @await RenderSectionAsync("Styles", false)
</head>
<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Cobra 4 Gaming</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="@ViewBag.Ranking">
                    @Html.ActionLink("Ranking", "Index", "Ranking")
                </li>
                <li class="@ViewBag.LastMatches">
                    @Html.ActionLink("Last matches", "Index", "LastMatches")
                </li>
                <li class="@ViewBag.ServersInfo">
                    @Html.ActionLink("Servers info", "Index", "ServersInfo")
                </li>
                <li class="@ViewBag.Patent">
                    @Html.ActionLink("Patent system", "Index", "Patent")
                </li>
                @if (Context.Request.IsHttps)
                {
                    <li>
                        <a href="https://sourcebans.l4d2.com.br/">SourceBans++</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    @RenderBody()
</div>

<script src="~/js/jquery.min.js"></script>
<script src="~/js/bootstrap.min.js"></script>
@await RenderSectionAsync("Scripts", false)

<script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>

@if (Context.Request.IsHttps)
{
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-4QMNBJLQST"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-4QMNBJLQST');
    </script>
}
</body>
</html>