@using System.Globalization
@using L4D2PlayStats.Web
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@inject IViewLocalizer Localizer
@inject IStringLocalizer<SharedResource> SharedLocalizer
@{
    var light = Context.Request.Cookies["theme"] == "light";
    var requestCultureFeature = Context.Features.Get<IRequestCultureFeature>();
    var cultureInfo = requestCultureFeature?.RequestCulture.Culture ?? new CultureInfo("en-US");
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Cobra Gaming - Estatísticas e rankings dos jogadores do servidor de Left 4 Dead 2. Acompanhe seu desempenho, compare-se com outros jogadores e veja quem está no topo do ranking.">
    <meta name="keywords" content="Cobra Gaming, Left 4 Dead 2, estatísticas de jogadores, ranking, servidor L4D2, desempenho em jogos, análise de jogadores, melhores jogadores, gaming, leaderboard">
    <meta name="author" content="Cobra Gaming">
    <meta name="robots" content="index, follow">
    <meta property="og:title" content="Cobra Gaming - Estatísticas e Ranking do Left 4 Dead 2">
    <meta property="og:description" content="Acompanhe as estatísticas e rankings dos jogadores do servidor Cobra Gaming de Left 4 Dead 2. Veja seu desempenho e compare-se com outros jogadores.">
    <meta property="og:url" content="https://l4d2.com.br/">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://l4d2playstats.blob.core.windows.net/assets/motd.jpeg">

    <title>@Localizer["ServerName"]</title>
    @if (light)
    {
        <link rel="stylesheet" href="~/css/bootstrap.light.min.css"/>
    }
    else
    {
        <link rel="stylesheet" href="~/css/bootstrap.min.css"/>
    }

    <style>
        .main-container {
            max-width: 1200px;
        }

        a, a:visited, a:hover, a:active {
            color: inherit;
        }

        .navbar {
            margin-bottom: 0;
        }

        .navbar-nav .nav-item img {
            width: 20px;
            height: auto;
            margin-top: -2px;
        }

        .logo {
            height: 100%;
            max-height: 50px;
        }

        .theme-icon {
            height: 100%;
            max-height: 20px !important;
            max-width: 20px !important;
        }

        .vertical-align-middle {
            vertical-align: middle !important;
        }

        .bold {
            font-weight: bold;
        }

        .match .panel h4,
        .match .panel p {
            margin: 0;
        }

        .match .icon {
            width: 16px;
        }

        .match .teams .col-xs-6 {
            padding-right: 5px;
            padding-left: 5px;
        }

        .match table {
            margin-bottom: 0 !important;
        }

        .match .img-campaign {
            max-height: 175px;
        }

        .show-mobile {
            display: none;
        }

        .server-info {
            font-size: 14px;
            padding-left: 7px;
            padding-right: 7px;
        }

        @@media screen and (min-width: 700px) {
            .slim {
                width: 1px;
                white-space: nowrap;
            }
        }

        @@media screen and (max-width: 700px) {
            .hide-mobile {
                display: none !important;
            }

            .show-mobile {
                display: inline;
            }

            .match .left-side {
                width: 100% !important;
                margin-bottom: 10px;
            }

            .match .right-side {
                width: 100% !important;
            }

            .table-responsive thead,
            .table-responsive tfoot,
            .table-responsive th {
                display: none;
            }

            .table-responsive tr {
                border-top: 1px solid #ddd;
                display: block;
                margin: 0;
                padding: 0;
            }

            .table-responsive td {
                border-bottom: 1px solid #ddd;
                display: block;
                text-align: right !important;
                padding: 5px !important;
                margin: 0px !important;
                overflow-wrap: anywhere;
            }

                .table-responsive td::before {
                    content: attr(data-label);
                    float: left;
                    vertical-align: middle;
                    font-weight: bold;
                    padding-right: 15px;
                }
        }

        @@media (min-width: 768px) and (max-width: 930px) {
            .navbar-nav > li > a {
                padding-left: 10px;
                padding-right: 10px;
            }
        }
    </style>

    @await RenderSectionAsync("Styles", false)
</head>
<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse" aria-expanded="false">
                <span class="sr-only">@Localizer["ToggleNavigation"]</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <img src="~/imgs/logo.png" alt="@Localizer["ServerName"]" class="logo img-responsive">
            </a>
            <a id="server-info" class="navbar-brand server-info pulsate" href="@Url.Action("Index", "Servers")" title="@SharedLocalizer["Servers"]" style="display:none;">
                <span id="server-status" class="label label-success"></span>
            </a>
        </div>

        <div class="collapse navbar-collapse" id="bs-navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="@ViewBag.Home">
                    @Html.ActionLink(SharedLocalizer["Ranking"].Value, "Index", "Home")
                </li>
                <li class="@ViewBag.LastMatches">
                    @Html.ActionLink(SharedLocalizer["LastMatches"].Value, "Index", "LastMatches")
                </li>
                <li class="@ViewBag.Players">
                    @Html.ActionLink(SharedLocalizer["Players"].Value, "Index", "Players")
                </li>
                <li class="@ViewBag.History">
                    @Html.ActionLink(SharedLocalizer["History"].Value, "Index", "History")
                </li>
                <li class="@ViewBag.Servers">
                    @Html.ActionLink(SharedLocalizer["Servers"].Value, "Index", "Servers")
                </li>
                <li class="@ViewBag.Patent">
                    @Html.ActionLink(SharedLocalizer["Patents"].Value, "Index", "Patents")
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    @if (light)
                    {
                        <a href="@Url.Action("SetTheme", "Home", new { theme = "default" })">
                            <img src="~/imgs/dark-theme.png" alt="@SharedLocalizer["SwitchDarkTheme"]" title="@SharedLocalizer["SwitchDarkTheme"]" class="theme-icon" data-toggle="tooltip" data-placement="bottom">
                            <span class="show-mobile" style="margin-left: 5px">
                                @SharedLocalizer["SwitchDarkTheme"]
                            </span>
                        </a>
                    }
                    else
                    {
                        <a href="@Url.Action("SetTheme", "Home", new { theme = "light" })">
                            <img src="~/imgs/light-theme.png" alt="@SharedLocalizer["SwitchLightTheme"]" title="@SharedLocalizer["SwitchLightTheme"]" class="theme-icon" data-toggle="tooltip" data-placement="bottom">
                            <span class="show-mobile" style="margin-left: 5px">
                                @SharedLocalizer["SwitchLightTheme"]
                            </span>
                        </a>
                    }
                </li>
                @if (!cultureInfo.Name.Equals("en-US", StringComparison.InvariantCultureIgnoreCase))
                {
                    <li id="lang-en">
                        <a href="#">
                            <img src="~/imgs/us.png" alt="English" title="English" data-toggle="tooltip" data-placement="bottom">
                            <span class="show-mobile" style="margin-left: 5px">
                                English
                            </span>
                        </a>
                    </li>
                }
                @if (!cultureInfo.Name.Equals("pt-BR", StringComparison.InvariantCultureIgnoreCase))
                {
                    <li id="lang-pt">
                        <a href="#">
                            <img src="~/imgs/br.png" alt="Português" title="Português" data-toggle="tooltip" data-placement="bottom">
                            <span class="show-mobile" style="margin-left: 5px">
                                Português
                            </span>
                        </a>
                    </li>
                }
                @if (!cultureInfo.Name.Equals("es-ES", StringComparison.InvariantCultureIgnoreCase))
                {
                    <li id="lang-es">
                        <a href="#">
                            <img src="~/imgs/es.png" alt="Español" title="Español" data-toggle="tooltip" data-placement="bottom">
                            <span class="show-mobile" style="margin-left: 5px">
                                Español
                            </span>
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid main-container">
    @RenderBody()
</div>

<script src="~/js/jquery.min.js"></script>
<script src="~/js/bootstrap.min.js"></script>
@await RenderSectionAsync("Scripts", false)

<script>
        function setLanguage(culture) {
            $.ajax({
                url: '@Url.Action("Change", "Language")',
                type: 'POST',
                data: { culture: culture },
                success: function () {
                    location.reload();
                }
            });
        };

        function pulsate(element) {
            $(element).animate({ opacity: 0.6 }, 700, function () {
                $(this).animate({ opacity: 1 }, 700, function () {
                    pulsate(this);
                });
            });
        };

        function updateServerInfo() {
            $.ajax({
                url: '/api/servers',
                method: 'GET',
                success: function (data) {
                    if (!data || data.length == 0) {
                        $('#server-info').hide();
                        return;
                    }

                    var serverInfo = data[0];

                    if (serverInfo.players == 0) {
                        $('#server-info').hide();
                        return;
                    }

                    $('#server-status').text('● ' + serverInfo.players + '/' + serverInfo.max_players);
                    $('#server-info').show();
                },
                error: function () {
                    $('#server-info').hide();
                }
            });
        };

        $(document).ready(function () { 
            $('[data-toggle="tooltip"]').tooltip();

            $('#lang-en').click(function (e) {
                e.preventDefault();
                setLanguage('en-US');
            });

            $('#lang-pt').click(function (e) {
                e.preventDefault();
                setLanguage('pt-BR');
            });

            $('#lang-es').click(function (e) {
                e.preventDefault();
                setLanguage('es-ES');
            });

            $('.pulsate').each(function () {
                pulsate(this);
            });

            updateServerInfo();
            setInterval(updateServerInfo, 10000);
        });
    </script>

<script async src="https://www.googletagmanager.com/gtag/js?id=G-4QMNBJLQST"></script>
<script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'G-4QMNBJLQST');
    </script>
</body>
</html>