@using System.Globalization
@using L4D2PlayStats.Core.Auth
@using L4D2PlayStats.Core.Infrastructure.Options
@using L4D2PlayStats.Web
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@using Microsoft.Extensions.Options

@inject IViewLocalizer Localizer
@inject IStringLocalizer<SharedResource> SharedLocalizer
@inject IOptions<AppOptions> Config
@inject ICurrentUser CurrentUser
@{
    var light = Context.Request.Cookies["theme"] == "light";
    var requestCultureFeature = Context.Features.Get<IRequestCultureFeature>();
    var cultureInfo = requestCultureFeature?.RequestCulture.Culture ?? new CultureInfo("en-US");
    var serverIPs = Config.Value.ServerIPs?.Split(';', StringSplitOptions.RemoveEmptyEntries);
    var serverIp = serverIPs?.FirstOrDefault();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Cobra Gaming - Estatísticas e rankings dos jogadores do servidor de Left 4 Dead 2. Acompanhe seu desempenho, compare-se com outros jogadores e veja quem está no topo do ranking.">
    <meta name="keywords" content="Cobra Gaming, Left 4 Dead 2, estatísticas de jogadores, ranking, servidor L4D2, desempenho em jogos, análise de jogadores, melhores jogadores, gaming, leaderboard">
    <meta name="author" content="Cobra Gaming">
    <meta name="robots" content="index, follow">
    <meta property="og:title" content="Cobra Gaming - Estatísticas e Ranking do Left 4 Dead 2">
    <meta property="og:description" content="Acompanhe as estatísticas e rankings dos jogadores do servidor Cobra Gaming de Left 4 Dead 2. Veja seu desempenho e compare-se com outros jogadores.">
    <meta property="og:url" content="https://l4d2.com.br/">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://l4d2playstats.blob.core.windows.net/assets/motd.jpeg">

    <title>@Localizer["ServerName"]</title>
    
    <link rel="stylesheet" href="~/css/lity.min.css"/>

    @if (light)
    {
        <link rel="stylesheet" href="~/css/bootstrap.light.min.css"/>
    }
    else
    {
        <link rel="stylesheet" href="~/css/bootstrap.min.css"/>
    }

    <style>
        .main-container {
            max-width: 1200px;
        }

        a, a:visited, a:hover, a:active {
            color: inherit;
        }

        .navbar {
            margin-bottom: 0;
        }

        .navbar-nav .nav-item img {
            width: 20px;
            height: auto;
            margin-top: -2px;
        }

        .logo {
            height: 100%;
            max-height: 50px;
        }

        .img-header-icon {
            height: 100%;
            max-height: 20px !important;
            max-width: 20px !important;
            display: inline !important;
            margin-right: 5px;
        }

        .vertical-align-middle {
            vertical-align: middle !important;
        }

        .bold {
            font-weight: bold;
        }

        .line-break-anywhere {
            line-break: anywhere
        }

        .tooltip-inner {
            min-width: 150px;
        }

        .match .panel h4,
        .match .panel p {
            margin: 0;
        }

        .match .icon {
            width: 16px;
        }

        .match .teams .col-xs-6 {
            padding-right: 5px;
            padding-left: 5px;
        }

        .match table {
            margin-bottom: 0 !important;
        }

        .match .img-campaign {
            max-height: 155px;
        }

        .show-mobile {
            display: none;
        }

        .server-info {
            font-size: 14px;
            padding-left: 7px;
            padding-right: 7px;
        }

        .float-icon {
            position: fixed;
            bottom: 20px;
            right: 20px;
        }

            .float-icon img {
                width: 70px;
            }

        .table > thead > tr > td.it-is-me,
        .table > tbody > tr > td.it-is-me,
        .table > tfoot > tr > td.it-is-me,
        .table > thead > tr > th.it-is-me,
        .table > tbody > tr > th.it-is-me,
        .table > tfoot > tr > th.it-is-me,
        .table > thead > tr.it-is-me > td,
        .table > tbody > tr.it-is-me > td,
        .table > tfoot > tr.it-is-me > td,
        .table > thead > tr.it-is-me > th,
        .table > tbody > tr.it-is-me > th,
        .table > tfoot > tr.it-is-me > th {
            background-color: @Html.Raw(light ? "#bcf3a6" : "#2e6b2e");
        }

        @@media screen and (min-width: 700px) {
            .slim {
                width: 1px;
                white-space: nowrap;
            }
        }

        @@media screen and (max-width: 700px) {
            .hide-mobile {
                display: none !important;
            }

            .show-mobile {
                display: inline;
            }

            .match .left-side {
                width: 100% !important;
                margin-bottom: 10px;
            }

            .match .right-side {
                width: 100% !important;
            }

            .table-responsive thead,
            .table-responsive tfoot,
            .table-responsive th {
                display: none;
            }

            .table-responsive tr {
                border-top: 1px solid #ddd;
                display: block;
                margin: 0;
                padding: 0;
            }

            .table-responsive td {
                border-bottom: 1px solid #ddd;
                display: block;
                text-align: right !important;
                padding: 5px !important;
                margin: 0px !important;
                overflow-wrap: anywhere;
            }

                .table-responsive td::before {
                    content: attr(data-label);
                    float: left;
                    vertical-align: middle;
                    font-weight: bold;
                    padding-right: 15px;
                }
        }

        @@media (min-width: 768px) and (max-width: 930px) {
            .navbar-nav > li > a {
                padding-left: 10px;
                padding-right: 10px;
            }
        }
    </style>

    @await RenderSectionAsync("Styles", false)

    <script>

        function imgOnError(img) {
            img.onerror = null;
            img.src = '/imgs/avatar-empty.png';
        }

    </script>
</head>
<body>

<nav class="navbar navbar-default">
    <div class="container-fluid main-container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse" aria-expanded="false">
                <span class="sr-only">@Localizer["ToggleNavigation"]</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <img src="~/imgs/logo.png" alt="@Localizer["ServerName"]" class="logo img-responsive">
            </a>
            <a id="server-info" class="navbar-brand server-info pulsate" href="@Url.Action("Index", "Servers")" title="@SharedLocalizer["Servers"]" style="display:none;">
                <span id="server-status" class="label label-success"></span>
            </a>
        </div>

        <div class="collapse navbar-collapse" id="bs-navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="@ViewBag.Home">
                    @Html.ActionLink(SharedLocalizer["Ranking"].Value, "Index", "Home")
                </li>
                <li class="@ViewBag.LastMatches">
                    @Html.ActionLink(SharedLocalizer["LastMatches"].Value, "Index", "LastMatches")
                </li>
                <li class="@ViewBag.Players">
                    @Html.ActionLink(SharedLocalizer["Players"].Value, "Index", "Players")
                </li>
                <li class="@ViewBag.History">
                    @Html.ActionLink(SharedLocalizer["History"].Value, "Index", "History")
                </li>
                <li class="@ViewBag.Servers">
                    @Html.ActionLink(SharedLocalizer["Servers"].Value, "Index", "Servers")
                </li>
                <li class="@ViewBag.Patent">
                    @Html.ActionLink(SharedLocalizer["Patents"].Value, "Index", "Patents")
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                @if (CurrentUser.IsAuthenticated)
                {
                    <li>
                        <a href="@Url.Action("Details", "Players", new { communityId = CurrentUser.CommunityId })">
                            <img src="@CurrentUser.AvatarUrl" alt="@CurrentUser.Name" title="@CurrentUser.Name" class="img-responsive img-header-icon" data-toggle="tooltip" data-placement="bottom">
                            <span class="show-mobile" style="margin-left: 5px">
                                @CurrentUser.Name
                            </span>
                        </a>
                    </li>
                }
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <img src="~/imgs/settings.png" alt="@SharedLocalizer["Settings"]" title="@SharedLocalizer["Settings"]" class="img-responsive img-header-icon">
                        <span class="show-mobile">
                            @SharedLocalizer["Settings"]
                        </span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        @if (light)
                        {
                            <li>
                                <a href="@Url.Action("SetTheme", "Home", new { theme = "default" })">
                                    <img src="~/imgs/dark-theme.png" alt="@SharedLocalizer["SwitchDarkTheme"]" title="@SharedLocalizer["SwitchDarkTheme"]" class="img-responsive img-header-icon">
                                    @SharedLocalizer["SwitchDarkTheme"]
                                </a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a href="@Url.Action("SetTheme", "Home", new { theme = "light" })">
                                    <img src="~/imgs/light-theme.png" alt="@SharedLocalizer["SwitchLightTheme"]" title="@SharedLocalizer["SwitchLightTheme"]" class="img-responsive img-header-icon">
                                    @SharedLocalizer["SwitchLightTheme"]
                                </a>
                            </li>
                        }
                        <li role="separator" class="divider"></li>
                        @if (!cultureInfo.Name.Equals("en-US", StringComparison.InvariantCultureIgnoreCase))
                        {
                            <li id="lang-en">
                                <a href="#">
                                    <img src="~/imgs/us.png" alt="English" title="English" class="img-responsive img-header-icon">
                                    English
                                </a>
                            </li>
                        }
                        @if (!cultureInfo.Name.Equals("pt-BR", StringComparison.InvariantCultureIgnoreCase))
                        {
                            <li id="lang-pt">
                                <a href="#">
                                    <img src="~/imgs/br.png" alt="Português" title="Português" class="img-responsive img-header-icon">
                                    Português
                                </a>
                            </li>
                        }
                        @if (!cultureInfo.Name.Equals("es-ES", StringComparison.InvariantCultureIgnoreCase))
                        {
                            <li id="lang-es">
                                <a href="#">
                                    <img src="~/imgs/es.png" alt="Español" title="Español" class="img-responsive img-header-icon">
                                    Español
                                </a>
                            </li>
                        }
                        <li role="separator" class="divider"></li>
                        @if (CurrentUser.IsAuthenticated)
                        {
                            <li>
                                <a href="@Url.Action("Logout", "Account")">
                                    <img src="~/imgs/logout.png" class="img-responsive img-header-icon" alt="@SharedLocalizer["ClickHereToLogout"]" title="@SharedLocalizer["ClickHereToLogout"]" class="img-responsive img-header-icon">
                                    @SharedLocalizer["ClickHereToLogout"]
                                </a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a href="@Url.Action("Login", "Account")">
                                    <img src="~/imgs/steam.png" alt="@SharedLocalizer["LoginWithSteam"]" title="@SharedLocalizer["LoginWithSteam"]" class="img-responsive img-header-icon">
                                    @SharedLocalizer["LoginWithSteam"]
                                </a>
                            </li>
                        }
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid main-container">
    @RenderBody()

    <hr/>

    <div class="row text-center" style="margin-bottom: 25px">
        <div class="col-md-12">
            <a href="https://github.com/altair-sossai/l4d2-zone-server" target="_blank">
                <small>Server repository</small>
            </a>
            <small> ● </small>
            <a href="https://github.com/altair-sossai/l4d2-playstats-web" target="_blank">
                <small>GitHub</small>
            </a>
            <small> ● </small>
            <a href="https://steamcommunity.com/id/altairsossai" target="_blank">
                <small>Steam</small>
            </a>
        </div>
    </div>
</div>

@if (!string.IsNullOrEmpty(serverIp))
{
    <a href="@Url.Action("Index", "Connect")" class="float-icon hide-mobile">
        <img src="~/imgs/icons/l4d2.png" alt="connect @serverIp" data-toggle="tooltip" data-placement="top" title="connect @serverIp"/>
    </a>
}

<script src="~/js/jquery.min.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<script src="~/js/diffDOM.min.js"></script>
<script src="~/js/chart.min.js"></script>
<script src="~/js/lity.min.js"></script>
@await RenderSectionAsync("Scripts", false)

<script>
        function setLanguage(culture) {
            $.ajax({
                url: '@Url.Action("Change", "Language")',
                type: 'POST',
                data: { culture: culture },
                success: function () {
                    location.reload();
                }
            });
        };

        function pulsate(element, options) {
            if (!options)
                options = {};

            if (!options.start)
                options.start = {};

            if (!options.start.opacity)
                options.start.opacity = 0.6;

            if (!options.start.interval)
                options.start.interval = 700;

            if (!options.end)
                options.end = {};

            if (!options.end.opacity)
                options.end.opacity = 1;

            if (!options.end.interval)
                options.end.interval = 700;

            $(element).animate(options.start, options.start.interval, function () {
                $(this).animate(options.end, options.end.interval, function () {
                    pulsate(this, options);
                });
            });
        };

        function updateServerInfo() {
            $.ajax({
                url: '/api/servers',
                method: 'GET',
                success: function (data) {
                    if (!data || data.length == 0) {
                        $('#server-info').hide();
                        return;
                    }

                    var serverInfo = data[0];

                    if (serverInfo.players == 0) {
                        $('#server-info').hide();
                        return;
                    }

                    $('#server-status').text('● ' + serverInfo.players + '/' + serverInfo.max_players);
                    $('#server-info').show();
                },
                error: function () {
                    $('#server-info').hide();
                }
            });
        };

        function createChart(canvas) {
            var ctx = canvas.getContext('2d');
            var chartData = $(canvas).data('chart');

            new Chart(ctx, chartData);
        }

        function isElementInViewport(el, margin) {
            margin = margin || 150;
            var rect = el.getBoundingClientRect();

            return (
                rect.top >= -margin &&
                rect.left >= -margin &&
                rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) + margin &&
                rect.right <= (window.innerWidth || document.documentElement.clientWidth) + margin
            );
        }

        function lazyLoadCharts() {
            $('.app-chart').each(function () {
                if ($(this).data('loaded')) 
                    return;

                if (!isElementInViewport(this))
                    return;

                createChart(this);

                $(this).data('loaded', true);
            });
        }

        $(window).on('scroll resize', function () {
            lazyLoadCharts();
        });

        $(document).ready(function () { 
            $('[data-toggle="tooltip"]').tooltip();

            $('#lang-en').click(function (e) {
                e.preventDefault();
                setLanguage('en-US');
            });

            $('#lang-pt').click(function (e) {
                e.preventDefault();
                setLanguage('pt-BR');
            });

            $('#lang-es').click(function (e) {
                e.preventDefault();
                setLanguage('es-ES');
            });

            $('.pulsate').each(function () {
                pulsate(this);
            });

            updateServerInfo();
            setInterval(updateServerInfo, 10000);

            lazyLoadCharts();
        });
    </script>

<script async src="https://www.googletagmanager.com/gtag/js?id=G-4QMNBJLQST"></script>
<script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'G-4QMNBJLQST');
    </script>
</body>
</html>