@using L4D2PlayStats.Core.Auth
@using L4D2PlayStats.Web
@using Microsoft.Extensions.Localization
@model L4D2PlayStats.Web.Models.ServerInfoModel

@inject IStringLocalizer<SharedResource> SharedLocalizer
@inject ICurrentUser CurrentUser

@section Styles {
    <style>
        .table-survivors,
        .table-infecteds {
            width: 100%;
        }

            .table-survivors .img-character,
            .table-infecteds .img-infected {
                margin: 0;
                padding: 0;
            }

            .table-survivors .img-avatar,
            .table-infecteds .img-avatar {
                padding-right: 5px;
            }

            .table-survivors .img-weapon {
                display: inline-block;
                height: 15px;
                padding-right: 5px;
                margin-bottom: 5px;
            }

            .table-survivors .progress,
            .table-infecteds .progress {
                margin-bottom: 0;
                border-radius: 0;
            }

            .table-survivors .table-hp-progress,
            .table-infecteds .table-hp {
                width: 100%;
                margin-bottom: 5px;
                white-space: nowrap;
            }

                .table-survivors .table-hp-progress .progress,
                .table-infecteds .table-hp .progress {
                    height: 12px;
                }

                .table-survivors .table-hp-progress .hp-progress-number,
                .table-infecteds .table-hp .hp-number {
                    padding: 0;
                    margin: 0;
                    padding-left: 10px;
                    font-size: 11px;
                    text-align: center;
                }

            .table-survivors hr,
            .table-infecteds hr {
                margin: 0px 0px 5px 0;
            }

        .temporary {
            opacity: 0.5;
        }

        .img-latency {
            display: inline-block;
            height: 16px;
        }

        .img-gray {
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
        }

        .td-latency {
            width: 40px;
        }

        .row-players .panel-body {
            padding: 5px;
        }

        #chat-messages {
            height: 400px;
            overflow-x: hidden;
            overflow-y: auto;
            padding-right: 10px;
        }

        .spectators a {
            margin-left: 8px;
        }

        #command-container {
            text-align: center;
            margin: 8px 0;
        }

        #commands {
            max-height: 75vh;
            overflow-y: auto;
        }

        #commands h5 {
            margin: 0;
        }
    </style>
}

@section Scripts {
    <script>
        var refreshInterval = 2600;
        var dd = new diffDOM.DiffDOM();

        function sync(current, html) {
            var source = document.createElement('div');
            source.id = current.id;
            source.innerHTML = html;

            var diffs = dd.diff(current, source);
            dd.apply(current, diffs);
        }

        function refreshHeader() {
            $.ajax({
                url: 'servers/header',
                type: 'GET',
                timeout: 2000,
                success: function (html) {
                    var target = document.getElementById('game-info-header');
                    sync(target, html);

                },
                complete: function () {
                    setTimeout(refreshHeader, refreshInterval);
                }
            });
        }

        function refreshPlayers() {
            $.ajax({
                url: 'servers/players',
                type: 'GET',
                timeout: 2000,
                success: function (html) {
                    var target = document.getElementById('game-info-players');
                    sync(target, html);
                },
                complete: function () {
                    setTimeout(refreshPlayers, refreshInterval);
                }
            });
        }

        function refreshMessages() {
            var after = $('#chat-messages p[data-message-when]').last().data('message-when') || 0;

            $.ajax({
                url: 'servers/messages?after=' + after,
                type: 'GET',
                timeout: 2000,
                success: function (html, status) {
                    if (!html || status == "nocontent")
                        return;

                    var chatMessages = $('#chat-messages');
                    var scrollDown = chatMessages[0].scrollHeight - chatMessages.scrollTop() === chatMessages.outerHeight();

                    $('#chat-messages').append(html);

                    $('#chat-messages p[data-message-when]').each(function () {
                        var messageWhen = $(this).data('message-when');
                        if (messageWhen) {
                            var $duplicates = $('#chat-messages p[data-message-when="' + messageWhen + '"]').slice(1);
                            $duplicates.remove();
                        }
                    });

                    if (scrollDown)
                        chatMessages.scrollTop(chatMessages[0].scrollHeight);
                },
                complete: function () {
                    setTimeout(refreshMessages, refreshInterval / 2);
                }
            });
        }

        function sendMessage() {
            var message = $('#message').val().trim();
            if (!message)
                return;

            $.ajax({
                url: '/api/external-chat',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({ message: message }),
                success: function (result, statusCode) {
                    if (statusCode == 'success' || statusCode == 'nocontent') {
                        refreshMessages();
                        $('#message').val('');
                        $('button[type="submit"]').prop('disabled', true);
                    } else {
                        alert(result?.errorMessage ?? statusCode);
                    }
                }
            });
        }

        var terminal = {
            commands: {
                '!kick': {
                    description: '@Html.Raw(SharedLocalizer["KicksPlayer"])',
                    args: ['players', 'reason']
                },
                '!votekick': {
                    description: '@Html.Raw(SharedLocalizer["InitiatesVoteKick"])',
                    args: ['players', 'reason']
                },
                '!ban': {
                    description: '@Html.Raw(SharedLocalizer["BansPlayers"])',
                    args: ['players', 'minutes', 'reason']
                },
                '!voteban': {
                    description: '@Html.Raw(SharedLocalizer["InitiatesVoteBan"])',
                    args: ['players', 'reason']
                },
                '!swapto': {
                    description: '@Html.Raw(SharedLocalizer["SwapsPlayers"])',
                    args: ['team', 'players']
                },
                '!silence': {
                    description: '@Html.Raw(SharedLocalizer["SilencesPlayer"])',
                    args: ['players']
                },
                '!unsilence': {
                    description: '@Html.Raw(SharedLocalizer["UnsilencesPlayer"])',
                    args: ['players']
                },
                '!gag': {
                    description: '@Html.Raw(SharedLocalizer["GagsPlayer"])',
                    args: ['players']
                },
                '!ungag': {
                    description: '@Html.Raw(SharedLocalizer["UngagsPlayer"])',
                    args: ['players']
                },
                '!mute': {
                    description: '@Html.Raw(SharedLocalizer["MutesPlayer"])',
                    args: ['players']
                },
                '!unmute': {
                    description: '@Html.Raw(SharedLocalizer["UnmutesPlayer"])',
                    args: ['players']
                },
                '!slay': {
                    description: '@Html.Raw(SharedLocalizer["SlaysPlayer"])',
                    args: ['players']
                }
            },
            dataSources: {
                wildcards : {
                    title: '@Html.Raw(SharedLocalizer["SelectWildcard"])',
                    items: function() {
                        return ['@@all', '@@survivors', '@@infected'];
                    }
                },
                survivors : {
                    title: '@Html.Raw(SharedLocalizer["SelectSurvivor"])',
                    items: function() {
                        var survivors = JSON.parse($('#survivors').text());

                        return $.map(survivors, function(survivor) {
                            return survivor.name;
                        });
                    }
                },
                infecteds : {
                    title: '@Html.Raw(SharedLocalizer["SelectInfected"])',
                    items: function() {
                        var infecteds = JSON.parse($('#infecteds').text());

                        return $.map(infecteds, function(infected) {
                            return infected.name;
                        });
                    }
                },
                spectators : {
                    title: '@Html.Raw(SharedLocalizer["SelectSpectator"])',
                    items: function() {
                        var spectators = JSON.parse($('#spectators').text());

                        return $.map(spectators, function(spectator) {
                            return spectator.name;
                        });
                    }
                },
                players: {
                    title: '@Html.Raw(SharedLocalizer["SelectPlayer"])',
                    items: function() {
                        return []
                            .concat(terminal.dataSources.survivors.items())
                            .concat(terminal.dataSources.infecteds.items())
                            .concat(terminal.dataSources.spectators.items())
                            .concat(terminal.dataSources.wildcards.items());
                    }
                },
                team: {
                    title: '@Html.Raw(SharedLocalizer["SelectTeam"])',
                    items: function() {
                        return [
                            { displayText: '@Html.Raw(SharedLocalizer["Spectators"])', value: 1 },
                            { displayText: '@Html.Raw(SharedLocalizer["Survivors"])', value: 2 },
                            { displayText: '@Html.Raw(SharedLocalizer["Infected"])', value: 3 }
                        ];
                    }
                },
                minutes: {
                    title: '@Html.Raw(SharedLocalizer["SelectDurationMinutes"])',
                    items: function() {
                        return [
                            { displayText: '@Html.Raw(SharedLocalizer["FiveMinutes"])', value: 5 },
                            { displayText: '@Html.Raw(SharedLocalizer["TenMinutes"])', value: 10 },
                            { displayText: '@Html.Raw(SharedLocalizer["ThirtyMinutes"])', value: 30 },
                            { displayText: '@Html.Raw(SharedLocalizer["OneHour"])', value: 60 },
                            { displayText: '@Html.Raw(SharedLocalizer["OneDay"])', value: 1440 },
                            { displayText: '@Html.Raw(SharedLocalizer["Permanent"])', value: 0 }
                        ];
                    }
                },
                reason: {
                    title: '@Html.Raw(SharedLocalizer["SelectReason"])',
                    items: function () {
                        return [
                            { displayText: '@Html.Raw(SharedLocalizer["None"])' },
                            '@Html.Raw(SharedLocalizer["ToxicBehavior"])',
                            '@Html.Raw(SharedLocalizer["Griefing"])',
                            '@Html.Raw(SharedLocalizer["Cheating"])',
                            '@Html.Raw(SharedLocalizer["MicSpam"])',
                            '@Html.Raw(SharedLocalizer["AFK"])',
                            '@Html.Raw(SharedLocalizer["Harassment"])',
                            '@Html.Raw(SharedLocalizer["TeamKill"])',
                            '@Html.Raw(SharedLocalizer["RuleViolation"])',
                            '@Html.Raw(SharedLocalizer["Other"])'
                        ];
                    }
                }
            },
            show: function() {
                this.path = [];
                this.build();
                $('#terminal').modal();
            },
            close: function() {
                $('#terminal').modal('hide');
            },
            previous: function() {
                if (!this.path.length) {
                    this.close();
                    return;
                }

                this.path.pop();
                this.build();
            },
            next: function(value) {
                this.path.push(value);
                this.build();
            },
            build: function() {
                var options = [];

                this.clearOptions();

                if (this.path.length == 0) {
                    this.addOption({ displayText: '@Html.Raw(SharedLocalizer["SelectCommand"])', header: true });

                    var commands = this.commands;
                    var keys = Object.keys(commands);

                    options = $.map(keys, function(command) {
                        return { value: command, description: commands[command].description };
                    });
                } else {
                    var command = this.commands[this.path[0]];

                    if (this.path.length == command.args.length + 1) {
                        this.updatePreview();
                        this.flush();
                        return;
                    }

                    var arg = command.args[this.path.length - 1];
                    var dataSource = this.dataSources[arg];
                    var items = dataSource.items();

                    this.addOption({ displayText: dataSource.title, header: true });

                    options = $.map(items, function(item) {
                        return isObject(item) ? item : { value: item };
                    });
                }

                for (var i = 0; i < options.length; i++) {
                    this.addOption(options[i], function (e) {
                        e.preventDefault();
                        terminal.next($(this).data('value'));
                    });
                }

                if (this.path.length) {
                    this.addOption({ displayText: '← @Html.Raw(SharedLocalizer["Back"])' }, function (e) {
                        e.preventDefault();
                        terminal.previous();
                    });
                }

                this.updatePreview();

                $("#commands").scrollTop(0);
            },
            clearOptions: function() {
                $('#commands').empty();
            },
            addOption: function(option, onClick) {

                var $item = onClick ? $('<a>', { href: '#' }) : $('<div>');

                $item.addClass('list-group-item');

                if (option.header) {
                    $item.addClass('active');
                }

                if (option.value)
                    $item.data('value', option.value);

                if (onClick)
                    $item.on('click', onClick);

                var $title = $('<h5>', {
                    class: 'list-group-item-heading',
                    text: option.displayText || option.value
                });

                $item.append($title);

                if (option.description) {
                    var $description = $('<small>', {
                        class: 'list-group-item-text',
                        text: option.description
                    });

                    $item.append($description);
                }

                $('#commands').append($item);
            },
            command: function() {
                var values = this.path || [];

                values = $.grep(values, function(value) {
                    return value != null;
                });

                values = $.map(values, function(value) {
                    return String(value).trim();
                });

                values = $.grep(values, function(value) {
                    return value != '';
                });

                values = $.map(values, function(value) {
                    if (value.includes(' '))
                        return '"' + value + '"';

                    return value;
                });

                return values.join(' ');
            },
            updatePreview: function() {
                var command = this.command();

                if (command) {
                    $("#command-container").show();
                    $("#command").text(this.command());
                } else {
                    $("#command-container").hide();
                }
            },
            flush: function() {
                var command = this.command();
                if (!command)
                    return;

                $('#message').val(command);
                $('button[type="submit"]').prop('disabled', false);

                if (!confirm('@Html.Raw(SharedLocalizer["ConfirmExecuteCommand"])' + '\n\n' + command)) {
                    this.previous();
                    return;
                }

                $("#chatForm").submit();
                this.close();
            }
        };

        $(document).ready(function () {
            refreshHeader();
            refreshPlayers();
            refreshMessages();

            $('#chat-messages').scrollTop($('#chat-messages')[0].scrollHeight);

             $('#chatForm').on('submit', function () {
                sendMessage();
            });

             $('#message').on('keypress', function (e) {
                if (e.which === 13) {
                    e.preventDefault();
                    sendMessage();
                }
            });

            $('#message').on('input', function() {
                var message = $('#message').val().trim();
                $('button[type="submit"]').prop('disabled', message.length === 0);
            });
        });
    </script>
}

<h4 class="text-center">@SharedLocalizer["Servers"]</h4>

<div id="game-info-header">
    @await Html.PartialAsync("_Header", Model)
</div>

<div id="game-info-players">
    @await Html.PartialAsync("_Players", Model)
</div>

<div class="row" style="margin-top: 20px">
    <div class="col-md-6 col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                @SharedLocalizer["ChatMessages"]
            </div>
            <div class="panel-body">
                <div id="chat-messages" style="margin-bottom: 20px">
                    @await Html.PartialAsync("_Messages", Model.GameInfo.AllMessages)
                </div>
                @if (CurrentUser.IsAuthenticated)
                {
                    <form id="chatForm" class="form-inline" onsubmit="return false;">
                        <div class="input-group" style="width: 100%">
                            <input type="text" id="message" name="message" class="form-control" placeholder="@SharedLocalizer["TypeYourMessage"]" />
                            @if (CurrentUser.IsAdmin)
                            {
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-info btn-block" onclick="terminal.show()">
                                        <img src="~/imgs/icons/terminal.png" alt="@SharedLocalizer["Terminal"]" class="icon" data-toggle="tooltip" data-placement="top" title="@SharedLocalizer["Terminal"]" />
                                    </button>
                                </div>
                            }
                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-primary btn-block" disabled>
                                    @SharedLocalizer["Send"]
                                </button>
                            </div>
                        </div>
                    </form>
                }
                else
                {
                    <a href="@Url.Action("Login", "Account")" class="btn btn-default btn-block">
                        <img src="~/imgs/steam.png" alt="@SharedLocalizer["LoginWithSteam"]" title="@SharedLocalizer["LoginWithSteam"]" class="img-responsive img-header-icon">
                        @SharedLocalizer["ChatLoginRequiredMessage"]
                    </a>
                }
            </div>
        </div>
    </div>
</div>

<div class="row hide-mobile">
    <div class="col-md-12 text-center">
        <a href="@Url.Action("Index", "Connect")" class="btn btn-sm btn-primary" style="margin: 10px">
            connect @Model.ServerIp
        </a>
    </div>
</div>

<div id="terminal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body" style="padding: 0">
                <div id="command-container">
                    <small>@SharedLocalizer["Preview"]:</small>
                    <code id="command"></code>
                </div>
                <div id="commands" class="list-group" style="margin: 0"></div>
            </div>
        </div>
    </div>
</div>