@using L4D2PlayStats.Web
@using Microsoft.Extensions.Localization
@model L4D2PlayStats.Web.Models.ServerInfoModel
@inject IStringLocalizer<SharedResource> SharedLocalizer

@{
    var serverInfo = Model.ServerInfo;
    var gameInfo = Model.GameInfo;
    var configuration = gameInfo.Configuration;
    var round = gameInfo.Round;
    var scoreboard = gameInfo.Scoreboard;
}

<div class="panel panel-default">
    <div class="panel-heading text-center">
        @{
            var header = new List<string>();

            if (serverInfo != null && !string.IsNullOrEmpty(serverInfo.Name))
                header.Add(serverInfo.Name);

            if (configuration != null && !string.IsNullOrEmpty(configuration.Name))
                header.Add(configuration.Name);

            if (configuration is { TeamSize: > 0 })
                header.Add($"{configuration.TeamSize}v{configuration.TeamSize}");
        }

        @string.Join(" - ", header)
    </div>

    <table class="table table-condensed table-responsive">
        <tbody>
        <tr>
            <th class="slim text-right">@SharedLocalizer["ServerIP"]:</th>
            <td data-label="@SharedLocalizer["ServerIP"]:">@Model.ServerIp</td>

            <th class="slim text-right">@SharedLocalizer["Players"]:</th>
            <td data-label="@SharedLocalizer["Players"]:">
                @((serverInfo?.Players ?? 0).ToString("N0")) / @((serverInfo?.MaxPlayers ?? 0).ToString("N0"))
            </td>

            <th class="slim text-right">@SharedLocalizer["Map"]:</th>
            <td data-label="@SharedLocalizer["Map"]:">
                @{
                    var map = new List<string>();

                    if (!string.IsNullOrEmpty(serverInfo?.Map))
                        map.Add(serverInfo.Map);

                    if (round != null)
                        map.Add(SharedLocalizer[round.FirstRound ? "FirstRound" : "SecondRound"].Value);
                }

                @string.Join(" - ", map)

                @if (round?.IsInReady == true)
                {
                    <span class="label label-info" data-toggle="tooltip" data-placement="top" title="@(SharedLocalizer["Starting"])..." style="margin-left: 5px">
                        @(SharedLocalizer["Starting"])...
                    </span>
                }

                @if (round?.IsInReady == false)
                {
                    <span class="label label-success" data-toggle="tooltip" data-placement="top" title="@SharedLocalizer["Started"]" style="margin-left: 5px">
                        @SharedLocalizer["Started"]
                    </span>
                }
            </td>
        </tr>
        <tr>
            @{
                var survivorScore = scoreboard?.SurvivorScore ?? 0;
                var infectedScore = scoreboard?.InfectedScore ?? 0;
                var labelSurvivor = scoreboard?.IsDraw == true ? "default" : scoreboard?.IsSurvivorsWinning == true ? "success" : "danger";
                var labelInfected = scoreboard?.IsDraw == true ? "default" : scoreboard?.IsInfectedsWinning == true ? "success" : "danger";
            }
            <th class="text-right">@SharedLocalizer["Scoreboard"]:</th>
            <td data-label="@SharedLocalizer["Scoreboard"]:" class="text-nowrap">
                <span class="label label-@labelSurvivor" data-toggle="tooltip" data-placement="top" title="@SharedLocalizer["Survivors"]" style="margin-left: 5px">
                    @survivorScore.ToString("N0")
                </span>
                <span class="label label-@labelInfected" data-toggle="tooltip" data-placement="top" title="@SharedLocalizer["Infecteds"]" style="margin-left: 5px">
                    @infectedScore.ToString("N0")
                </span>
                @if (scoreboard?.Comeback is > 0)
                {
                    <span class="label label-default" data-toggle="tooltip" data-placement="top" title="@SharedLocalizer["Difference"]" style="margin-left: 5px">
                        @scoreboard.Comeback.ToString("N0")
                    </span>
                }
            </td>

            <th class="text-right text-nowrap">@SharedLocalizer["ProgressPoints"]:</th>
            <td data-label="@SharedLocalizer["ProgressPoints"]:" class="text-nowrap">
                @{
                    var currentProgressPoints = scoreboard?.CurrentProgressPoints ?? 0;
                    var maxChapterProgressPoints = round?.MaxChapterProgressPoints ?? 0;
                    var progressPercentage = maxChapterProgressPoints == 0 ? 0 : currentProgressPoints / (decimal)maxChapterProgressPoints;
                }
                @currentProgressPoints.ToString("N0")
                <span> / </span>
                @maxChapterProgressPoints.ToString("N0")
                <span class="label label-default" data-toggle="tooltip" data-placement="top" title="@SharedLocalizer["ProgressPoints"] %">
                    @progressPercentage.ToString("P0")
                </span>
            </td>

            <th class="text-right">@SharedLocalizer["Bonus"]:</th>
            <td data-label="@SharedLocalizer["Bonus"]:" class="text-nowrap">
                @((scoreboard?.Bonus ?? 0).ToString("N0"))
                <span> / </span>
                @((scoreboard?.MaxBonus ?? 0).ToString("N0"))
                <span class="label label-default" data-toggle="tooltip" data-placement="top" title="@SharedLocalizer["Bonus"] %">
                    @((scoreboard?.BonusPercentage ?? 0).ToString("P0"))
                </span>
            </td>
        </tr>
        <tr>
            <th class="text-right">@SharedLocalizer["Progress"]:</th>
            <td data-label="@SharedLocalizer["Progress"]:" class="text-nowrap">
                @((scoreboard?.CurrentProgress ?? 0).ToString("P0"))
            </td>

            <th class="text-right text-nowrap">@SharedLocalizer["Tank"]:</th>
            <td data-label="@SharedLocalizer["Tank"]:">
                @if (round?.TankDisabled == true)
                {
                    <span class="label label-default">Disabled</span>
                }
                else
                {
                    @((round?.TankPercent ?? 0).ToString("P0"))
                }
            </td>

            <th class="text-right text-nowrap">@SharedLocalizer["Witch"]:</th>
            <td data-label="@SharedLocalizer["Witch"]:">
                @if (round?.WitchDisabled == true)
                {
                    <span class="label label-default">Disabled</span>
                }
                else
                {
                    @((round?.WitchPercent ?? 0).ToString("P0"))
                }
            </td>
        </tr>
        </tbody>
    </table>
</div>