@using L4D2PlayStats.Core.GameInfo.Enums
@using L4D2PlayStats.Web
@using Microsoft.Extensions.Localization
@model IReadOnlyCollection<L4D2PlayStats.Core.GameInfo.Models.ChatMessage>
@inject IStringLocalizer<SharedResource> SharedLocalizer

@foreach (var message in Model)
{
    var @class = message.Team switch
    {
        Team.Survivor => "text-info",
        Team.Infected => "text-danger",
        Team.External => "text-warning",
        _ => "text-muted"
    };

    <p data-message-when="@message.When.Ticks">
        @if (!message.Public)
        {
            <small>
                @($"({SharedLocalizer[message.Team.ToString()]})")
            </small>
        }

        <span class="@(@class)" style="font-weight: bold">
            <a href="@message.Player?.ProfileUrl" target="_blank">
                @message.Player?.Name
            </a>
        </span>
        
        @if (message.IsAdmin)
        {
            <span class="text-muted">(Admin)</span>
        }

        <span>:</span>

        <span>
            @message.Message
        </span>
    </p>
}