@using L4D2PlayStats.Web
@using Microsoft.Extensions.Localization
@model L4D2PlayStats.Web.Models.ServerInfoModel
@inject IStringLocalizer<SharedResource> SharedLocalizer

@{
    var light = Context.Request.Cookies["theme"] == "light";
    var copyIcon = light ? "copy-light.png" : "copy-dark.png";
}

<h4 class="text-center">@SharedLocalizer["Servers"]</h4>

<div class="panel panel-default">
    <div class="panel-heading text-center">
        @if (Model.ServerInfo != null)
        {
            @Model.ServerInfo.Name
        }
    </div>

    <table class="table table-condensed table-responsive">
        <tbody>
        <tr>
            <th class="slim text-right">@SharedLocalizer["ServerIP"]:</th>
            <td style="padding-left: 10px;" data-label="@SharedLocalizer["ServerIP"]:">
                @Model.ServerIp

                <img src="~/imgs/icons/@copyIcon" alt="@SharedLocalizer["CopyText"]" class="icon-copy" 
                     data-toggle="popover" data-placement="top" data-content="@SharedLocalizer["TextCopied"]" 
                     onclick="copyTextToClipboard('@Model.ServerIp', this)" />
            </td>

            @if (Model.ServerInfo != null)
            {
                <th class="slim">@SharedLocalizer["Players"]:</th>
                <td data-label="@SharedLocalizer["Players"]:">@Model.ServerInfo.Players?.ToString("N0") / @Model.ServerInfo.MaxPlayers?.ToString("N0")</td>

                <th class="slim">@SharedLocalizer["Map"]:</th>
                <td data-label="@SharedLocalizer["Map"]:">@Model.ServerInfo.Map</td>
            }
        </tr>

        @if (Model.Players != null && Model.Players.Any())
        {
            <tr>
                <th class="slim">@SharedLocalizer["ConnectedPlayers"]:</th>
                <td colspan="5" data-label="@SharedLocalizer["ConnectedPlayers"]:" style="margin: 0; padding: 0; padding-left: 10px;">
                    <table class="table table-condensed table-responsive table-striped table-hover" style="margin: 0; padding: 0">
                        <thead>
                        <tr>
                            <th>@SharedLocalizer["PlayerName"]</th>
                            <th class="text-center slim hide-mobile">@SharedLocalizer["Time"]</th>
                        </tr>
                        </thead>
                        <tbody>
                        @if (Model.Players != null)
                        {
                            @foreach (var player in Model.Players.OrderByDescending(p => p.Duration))
                            {
                                <tr>
                                    <td data-label="@player.DurationTimeSpan.ToString(@"hh\:mm\:ss")">@player.Name</td>
                                    <td data-label="@SharedLocalizer["Time"]:" class="text-center hide-mobile">@player.DurationTimeSpan.ToString(@"hh\:mm\:ss")</td>
                                </tr>
                            }
                        }
                        </tbody>
                    </table>
                </td>
            </tr>
        }
        else
        {
            <tr>
                <td colspan="6" class="text-center">@SharedLocalizer["NoPlayersConnected"]</td>
            </tr>
        }
        <tr class="hide-mobile">
            <td colspan="6" class="text-center">
                <a href="@Url.Action("Index", "Connect")" class="btn btn-sm btn-primary" style="margin: 10px">
                    connect @Model.ServerIp
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>