@using L4D2PlayStats.Web
@using Microsoft.Extensions.Localization
@model List<L4D2PlayStats.Web.Models.ServerInfoModel>
@inject IStringLocalizer<SharedResource> SharedLocalizer

<h4 class="text-center">@SharedLocalizer["Servers"]</h4>

@foreach (var server in Model)
{
    <div class="panel panel-default">
        <div class="panel-heading text-center">
            @if (server.ServersInfo != null)
            {
                @server.ServersInfo.Name
            }
        </div>

        <table class="table table-condensed table-responsive">
            <tbody>
            @if (server.ServersInfo != null)
            {
                <tr>
                    <th class="slim text-right">@SharedLocalizer["ServerIP"]:</th>
                    <td style="padding-left: 10px;" data-label="@SharedLocalizer["ServerIP"]:">@server.ServerIp</td>

                    <th class="slim">@SharedLocalizer["Players"]:</th>
                    <td data-label="@SharedLocalizer["Players"]:">@server.ServersInfo.Players?.ToString("N0") / @server.ServersInfo.MaxPlayers?.ToString("N0")</td>

                    <th class="slim">@SharedLocalizer["Map"]:</th>
                    <td data-label="@SharedLocalizer["Map"]:">@server.ServersInfo.Map</td>
                </tr>
            }
            @if (server.Players != null && server.Players.Any())
            {
                <tr>
                    <th class="slim">@SharedLocalizer["ConnectedPlayers"]:</th>
                    <td colspan="5" data-label="@SharedLocalizer["ConnectedPlayers"]:" style="margin: 0; padding: 0; padding-left: 10px;">
                        <table class="table table-condensed table-responsive table-striped table-hover" style="margin: 0; padding: 0">
                            <thead>
                            <tr>
                                <th>@SharedLocalizer["PlayerName"]</th>
                                <th class="text-center slim hide-mobile">@SharedLocalizer["Time"]</th>
                            </tr>
                            </thead>
                            <tbody>
                            @if (server.Players != null)
                            {
                                @foreach (var player in server.Players.OrderByDescending(p => p.Duration))
                                {
                                    <tr>
                                                <td data-label="@player.DurationTimeSpan.ToString(@"hh\:mm\:ss")">@player.Name</td>
                                        <td data-label="@SharedLocalizer["Time"]:" class="text-center hide-mobile">@player.DurationTimeSpan.ToString(@"hh\:mm\:ss")</td>
                                    </tr>
                                }
                            }
                            </tbody>
                        </table>
                    </td>
                </tr>
            }
            else
            {
                <tr>
                    <td colspan="6" class="text-center">@SharedLocalizer["NoPlayersConnected"]</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
}