@using L4D2PlayStats.Infrastructure.Extensions
@using L4D2PlayStats.UserAvatar
@model List<L4D2PlayStats.Sdk.Ranking.Results.PlayerResult>
@inject IUserAvatar UserAvatar

@section Styles {
    <style>
        .col-xs-3, .col-xs-4 {
            padding-right: 5px;
            padding-left: 5px;
        }

        table {
            margin-bottom: 0 !important;
        }
    </style>
}

<h4 class="text-center">Top players</h4>
<div class="row">
    @foreach (var player in Model.Take(3))
    {
        <div class="col-xs-4">
            <div class="thumbnail">
                <h5 class="text-center">
                    TOP #@player.Position
                </h5>
                <img src="@UserAvatar[player.CommunityId]" alt="@player.Name" class="img-responsive img-thumbnail"/>
                <div class="caption">
                    <h5 class="text-center">@player.Name</h5>
                    <table class="table table-striped table-hover table-condensed">
                        <tr>
                            <th>Wins:</th>
                            <td class="text-right">@player.Wins</td>
                        </tr>
                        <tr>
                            <th>MVP's:</th>
                            <td class="text-right">@player.Mvps</td>
                        </tr>
                        <tr>
                            <th>Win rate:</th>
                            <td class="text-right">@player.WinRate.ToString("P0")</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    }
</div>

<div class="row">
    @foreach (var player in Model.Skip(3).Take(4))
    {
        <div class="col-xs-3">
            <div class="thumbnail">
                <p class="text-center">
                    #@player.Position - @player.Name
                </p>
                <img src="@UserAvatar[player.CommunityId]" alt="@player.Name" class="img-responsive img-thumbnail"/>
                <div class="caption">
                    <table class="table table-striped table-hover table-condensed">
                        <tr>
                            <th>Wins:</th>
                            <td class="text-right">@player.Wins</td>
                        </tr>
                        <tr>
                            <th>MVP's:</th>
                            <td class="text-right">@player.Mvps</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    }
</div>

<hr/>

<h5 class="text-center">Top 50 players</h5>
<table class="table table-striped table-hover table-bordered table-condensed">
    <thead>
    <tr>
        <th class="text-center">#</th>
        <th colspan="2">Player</th>
        <th class="text-center">Wins</th>
        <th class="text-center">MVP's</th>
        <th class="text-center">Games</th>
        <th class="text-center">Win rate</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var player in Model.Take(50))
    {
        <tr class="hover">
            <td class="text-center">#@player.Position</td>
            <td class="text-center" style="width: 1px">
                <img src="@UserAvatar[player.CommunityId]" alt="@player.Name" style="width: 32px"/>
            </td>
            <td>@player.Name?.Truncate(30)</td>
            <td class="text-center">@player.Wins</td>
            <td class="text-center">@player.Mvps</td>
            <td class="text-center">@player.Games</td>
            <td class="text-center">@player.WinRate.ToString("P0")</td>
        </tr>
    }
    </tbody>
</table>