@using L4D2PlayStats.Infrastructure.Extensions
@using L4D2PlayStats.UserAvatar
@model List<L4D2PlayStats.Web.Models.RankingModel>
@inject IUserAvatar UserAvatar

@section Styles {
    <style>
        .progress {
            margin: 0;
            height: 10px;
        }

        .progress-bar-danger {
            background-color: #f57b7b;
            border: 1px solid #1c1e22;
        }

        table {
            margin-bottom: 0 !important;
        }

        p {
            margin-bottom: 0 !important;
        }
    </style>
}

<h4 class="text-center">Top 50 players</h4>
<table class="table table-striped table-hover table-bordered table-condensed">
    <thead>
    <tr>
        <th class="text-center">#</th>
        <th class="text-center">Patent</th>
        <th colspan="2">Player</th>
        <th class="text-center hide-mobile" style="min-width: 90px">XP</th>
        <th class="text-center">Wins</th>
        <th class="text-center hide-mobile">Loss</th>
        <th class="text-center hide-mobile">MVP SI</th>
        <th class="text-center hide-mobile">MVP CI</th>
        <th class="text-center hide-mobile">Win rate</th>
        <th class="text-center hide-mobile">Rage quit</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var ranking in Model.Take(50))
    {
        var player = ranking.Player;
        var patentProgress = ranking.PatentProgress;
        var patent = patentProgress.Patent;

        <tr class="hover">
            <td class="text-center vertical-align-middle">#@player.Position.ToString("N0")</td>
            <td class="text-center vertical-align-middle slim">
                <img src="@patent.Image" alt="@patent.FullName" data-toggle="tooltip" data-placement="top" title="@patent.FullName" style="width: 32px"/>
            </td>
            <td class="text-center vertical-align-middle slim" style="margin: 0; padding: 0">
                <a href="@Url.Action("Index", "Player", new { communityId = player.CommunityId })" title="@player.Name">
                    <img src="@UserAvatar[player.CommunityId]" alt="@player.Name" style="width: 40px"/>
                </a>
            </td>
            <td class="vertical-align-middle">
                @Html.ActionLink(player.Name?.Truncate(30) ?? "-", "Index", "Player", new { communityId = player.CommunityId })
                @if (patentProgress.LevelUp)
                {
                    <span class="label label-success" style="float: right" data-toggle="tooltip" data-placement="top" data-html="true" title="@patentProgress.Tooltip">
                        Level Up!
                    </span>
                }
                @if (patentProgress.LevelDrop)
                {
                    <span class="label label-danger" style="float: right" data-toggle="tooltip" data-placement="top" data-html="true" title="@patentProgress.Tooltip">
                        Level Drop!
                    </span>
                }
            </td>
            <td class="text-center vertical-align-middle hide-mobile">
                <div class="progress" data-toggle="tooltip" data-placement="top" data-html="true" title="@patentProgress.Tooltip">
                    <div class="progress-bar progress-bar-@patentProgress.ProgressBarType" role="progressbar" style="width: @patentProgress.ProgressBarWidth%;">
                    </div>
                    <div class="progress-bar progress-bar-@patentProgress.PreviousExperienceProgressBarType" role="progressbar" style="width: @patentProgress.PreviousExperienceProgressBarWidth%;">
                    </div>
                </div>
            </td>
            <td class="text-center vertical-align-middle">
                <p data-toggle="tooltip" data-placement="top" title="Wins">
                    @player.Wins.ToString("N0")
                </p>
            </td>
            <td class="text-center vertical-align-middle hide-mobile">
                <p data-toggle="tooltip" data-placement="top" title="Loss">
                    @player.Loss.ToString("N0")
                </p>
            </td>
            <td class="text-center vertical-align-middle hide-mobile">
                <p data-toggle="tooltip" data-placement="top" title="MVP SI">
                    @player.MvpSiDamage.ToString("N0")
                </p>
            </td>
            <td class="text-center vertical-align-middle hide-mobile">
                <p data-toggle="tooltip" data-placement="top" title="MVP CI">
                    @player.MvpCommon.ToString("N0")
                </p>
            </td>
            <td class="text-center vertical-align-middle hide-mobile">
                <p data-toggle="tooltip" data-placement="top" title="Win rate">
                    @player.WinRate.ToString("P0")
                </p>
            </td>
            <td class="text-center vertical-align-middle hide-mobile">
                <p data-toggle="tooltip" data-placement="top" title="Rage quit">
                    @player.RageQuit.ToString("N0")
                </p>
            </td>
        </tr>
    }
    </tbody>
</table>