@using L4D2PlayStats.Auth
@using L4D2PlayStats.Infrastructure.Extensions
@using L4D2PlayStats.Sdk.Statistics.Results
@using L4D2PlayStats.UserAvatar
@using L4D2PlayStats.Web
@using Microsoft.Extensions.Localization
@model L4D2PlayStats.Web.Models.StatisticsDetailsModel
@inject IStringLocalizer<SharedResource> SharedLocalizer
@inject IUserAvatar UserAvatar
@inject ICurrentUser CurrentUser

@section Styles {
    <style>
    @@media screen and (min-width: 992px) {
            .round-details .left-side {
                padding-right: 3px;
            }

            .round-details .right-side {
                padding-left: 3px;
            }
    }
    </style>
}

@if (Model.Statistics.Count == 0)
{
    <div class="row">
        <div class="col-xs-12">
            <h4 class="text-center">
                @SharedLocalizer["NoMatchFound"]
            </h4>
        </div>
    </div>
    return;
}

@{
    var match = Model.Match;
    var gameRound = Model.Statistic?.Statistic?.GameRound;
    var halves = Model.Statistic?.Statistic?.Halves ?? StatisticsResult.HalfResult.EmptyCollection;
    var allPlayers = Model.Statistic?.Statistic?.PlayerNames ?? StatisticsResult.PlayerNameResult.EmptyCollection;
}

<h4 class="text-center">@SharedLocalizer["MatchDetails"]</h4>

<ol class="breadcrumb">
    <li>
        @Html.ActionLink(SharedLocalizer["LastMatches"].Value, "Index", "LastMatches")
    </li>
    <li>
        @Html.ActionLink(match.Campaign ?? SharedLocalizer["Campaign"].Value, "Details", "LastMatches", new { start = match.Start, end = match.End })
    </li>
    <li>
        @gameRound?.MapName
    </li>
</ol>

<div class="maps">
    <div class="panel panel-default">
        <table class="table table-striped table-hover table-condensed table-responsive">
            <thead>
            <tr>
                <th class="text-center">#</th>
                <th class="text-center">@SharedLocalizer["Map"]</th>
                <th class="text-center">@SharedLocalizer["Start"]</th>
                <th class="text-center">@SharedLocalizer["End"]</th>
                <th class="text-center">@SharedLocalizer["Elapsed"]</th>
                <th class="text-center slim" colspan="3">@SharedLocalizer["Scoreboard"]</th>
            </tr>
            </thead>
            <tbody>
            @for (var i = 0; i < Model.Statistics.Count; i++)
            {
                var result = Model.Statistics[i];
                var scoring = result.Statistic?.Scoring;
                var labelTeamA = scoring?.Draw == true ? "default" : scoring?.TeamAWon == true ? "success" : "danger";
                var labelTeamB = scoring?.Draw == true ? "default" : scoring?.TeamBWon == true ? "success" : "danger";

                <tr class="@(Model.Statistic?.StatisticId == result.StatisticId ? "info" : string.Empty)">
                    <td class="text-center" data-label="#">
                        <a href="@Url.Action("Statistics", "LastMatches", new { start = Model.Match.Start, end = Model.Match.End, statisticId = result.StatisticId })">
                            #@(i + 1)
                        </a>
                    </td>
                    <td class="text-center" data-label="@SharedLocalizer["Map"]">
                        <a href="@Url.Action("Statistics", "LastMatches", new { start = Model.Match.Start, end = Model.Match.End, statisticId = result.StatisticId })">
                            @result.Statistic?.GameRound?.MapName
                        </a>
                    </td>
                    <td class="text-center" data-label="@SharedLocalizer["Start"]">@result.Statistic?.MapStart?.ToString("d") @result.Statistic?.MapStart?.ToString("HH:mm")</td>
                    <td class="text-center" data-label="@SharedLocalizer["End"]">@result.Statistic?.MapEnd?.ToString("d") @result.Statistic?.MapEnd?.ToString("HH:mm")</td>
                    <td class="text-center" data-label="@SharedLocalizer["Elapsed"]">@result.Statistic?.MapElapsed?.ToString(@"hh\:mm\:ss")</td>
                    <td class="text-center slim" data-label="@SharedLocalizer["TeamAScore"]">
                        <span class="label label-@labelTeamA" data-toggle="tooltip" data-placement="top" title="@SharedLocalizer["TeamAScore"]">
                            @scoring?.TeamA?.Score.ToString("N0")
                        </span>
                    </td>
                    <td class="text-center slim" data-label="@SharedLocalizer["ScoreDifference"]">
                        <span class="label label-default" data-toggle="tooltip" data-placement="top" title="@SharedLocalizer["ScoreDifference"]">
                            @scoring?.ScoreDiff?.ToString("N0")
                        </span>
                    </td>
                    <td class="text-center slim" data-label="@SharedLocalizer["TeamBScore"]">
                        <span class="label label-@labelTeamB" data-toggle="tooltip" data-placement="top" title="@SharedLocalizer["TeamBScore"]">
                            @scoring?.TeamB?.Score.ToString("N0")
                        </span>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>

<ul class="nav nav-tabs">
    @for (var round = 1; round <= halves.Count; round++)
    {
        <li class="@(round == 1 ? "active" : string.Empty)">
            <a href="#tab-round-half-@round" data-toggle="tab">
                @(round == 1 ? SharedLocalizer["FirstRound"] : SharedLocalizer["SecondRound"])
            </a>
        </li>
    }
</ul>

<br/>

<div class="tab-content">
@for (var round = 1; round <= halves.Count; round++)
{
    var half = halves[round - 1];
    var roundHalf = half.RoundHalf!;
    var scoring = Model.Statistic?.Statistic?.Scoring;
    var survivorWinning = round == 1 ? scoring?.TeamAWon : scoring?.TeamBWon;
    var infectedWinning = round == 1 ? scoring?.TeamBWon : scoring?.TeamAWon;

    var mvpSiDamage = half.Players.OrderByDescending(p => p.SiDamage).FirstOrDefault();
    var mvpCommon = half.Players.OrderByDescending(p => p.Common).FirstOrDefault();
    var lvpFfGiven = half.Players.OrderByDescending(p => p.FfGiven).FirstOrDefault();

    var players = half.Players
        .OrderByDescending(p => p == mvpSiDamage)
        .ThenByDescending(p => p == mvpCommon)
        .ThenBy(p => p == lvpFfGiven)
        .ToList();

    var infectedPlayers = half.InfectedPlayers
        .OrderByDescending(p => p.DmgTotal)
        .ToList();

    <div id="tab-round-half-@round" class="tab-pane fade @(round == 1 ? "in active" : string.Empty) match">
    <div class="row">
        <div class="col-md-5">
            <div class="row">
                <div class="col-xs-6" style="padding-right: 3px">
                    <div class="panel panel-@(survivorWinning == true ? "success" : "danger")" style="margin-bottom: 0;">
                        <div class="panel-heading bold" style="padding: 3px 15px">
                            @SharedLocalizer["Survivors"]
                        </div>
                        <div class="panel-body" style="padding: 0">
                            <table class="table table-striped table-hover table-bordered table-condensed">
                                <tbody>
                                @foreach (var player in players)
                                {
                                    <tr class="@(CurrentUser.ItIsMe(player.CommunityId) ? "it-is-me" : string.Empty)">
                                        <td style="padding: 2px" class="slim">
                                            <a href="@Url.Action("Details", "Players", new { communityId = player.CommunityId })" title="@player.PlayerName">
                                                <img src="@UserAvatar[player.CommunityId]" alt="@player.PlayerName" style="width: 32px; border-radius: 5px" onerror="imgOnError(this)"/>
                                            </a>
                                        </td>
                                        <td class="vertical-align-middle">
                                            @Html.ActionLink(player.PlayerName?.Truncate(30) ?? "-", "Details", "Players", new { communityId = player.CommunityId })

                                            @if (player == mvpSiDamage)
                                            {
                                                <img src="~/imgs/icons/star.png" alt="@SharedLocalizer["MvpSI"]" class="icon" data-toggle="tooltip" data-placement="top" title="@SharedLocalizer["MvpSI"]"/>
                                            }

                                            @if (player == mvpCommon)
                                            {
                                                <img src="~/imgs/icons/star-blue.png" alt="@SharedLocalizer["MvpCI"]" class="icon" data-toggle="tooltip" data-placement="top" title="@SharedLocalizer["MvpCI"]"/>
                                            }

                                            @if (player == lvpFfGiven)
                                            {
                                                <img src="~/imgs/icons/lvp.png" alt="@SharedLocalizer["Lvp"]" class="icon" data-toggle="tooltip" data-placement="top" title="@SharedLocalizer["Lvp"]"/>
                                            }
                                        </td>
                                    </tr>
                                }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6" style="padding-left: 3px">
                    <div class="panel panel-@(infectedWinning == true ? "success" : "danger")" style="margin-bottom: 0;">
                        <div class="panel-heading bold" style="padding: 3px 15px">
                            @SharedLocalizer["Infecteds"]
                        </div>
                        <div class="panel-body" style="padding: 0">
                            <table class="table table-striped table-hover table-bordered table-condensed">
                                <tbody>
                                @foreach (var infectedPlayer in infectedPlayers)
                                {
                                    <tr class="@(CurrentUser.ItIsMe(infectedPlayer.CommunityId) ? "it-is-me" : string.Empty)">
                                        <td style="padding: 2px" class="slim">
                                            <a href="@Url.Action("Details", "Players", new { communityId = infectedPlayer.CommunityId })" title="@infectedPlayer.PlayerName">
                                                <img src="@UserAvatar[infectedPlayer.CommunityId]" alt="@infectedPlayer.PlayerName" style="width: 32px; border-radius: 5px" onerror="imgOnError(this)"/>
                                            </a>
                                        </td>
                                        <td class="vertical-align-middle">
                                            @Html.ActionLink(infectedPlayer.PlayerName?.Truncate(30) ?? "-", "Details", "Players", new { communityId = infectedPlayer.CommunityId })
                                        </td>
                                        <td class="slim text-center">
                                            <span data-toggle="tooltip" data-placement="top" title="@SharedLocalizer["TotalDamage"]">
                                                @infectedPlayer.DmgTotal.ToString("N0")
                                            </span>
                                        </td>
                                    </tr>
                                }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="panel panel-default" style="margin-bottom: 0;">
                <div class="panel-heading bold" style="padding: 3px 15px">
                    @SharedLocalizer["Details"]
                </div>
                <div class="panel-body" style="padding: 0">
                    <div class="row round-details">
                        <div class="col-md-6 left-side">
                            <table class="table table-striped table-hover table-bordered table-condensed">
                                <tbody>
                                @if (roundHalf.Restarts != 0)
                                {
                                    <tr>
                                        <th>@SharedLocalizer["Restarts"]:</th>
                                        <td class="slim text-center">@roundHalf.Restarts.ToString("N0")</td>
                                    </tr>
                                }
                                <tr>
                                    <th>@SharedLocalizer["PillsUsed"]:</th>
                                    <td class="slim text-center">@roundHalf.PillsUsed.ToString("N0")</td>
                                </tr>
                                @if (roundHalf.KitsUsed != 0)
                                {
                                    <tr>
                                        <th>@SharedLocalizer["KitsUsed"]:</th>
                                        <td class="slim text-center">@roundHalf.KitsUsed.ToString("N0")</td>
                                    </tr>
                                }
                                @if (roundHalf.DefibsUsed != 0)
                                {
                                    <tr>
                                        <th>@SharedLocalizer["DefibrillatorsUsed"]:</th>
                                        <td class="slim text-center">@roundHalf.DefibsUsed.ToString("N0")</td>
                                    </tr>
                                }
                                <tr>
                                    <th>@SharedLocalizer["TimesIncapacitated"]:</th>
                                    <td class="slim text-center">@roundHalf.Incaps.ToString("N0")</td>
                                </tr>
                                <tr>
                                    <th>@SharedLocalizer["Deaths"]:</th>
                                    <td class="slim text-center">@roundHalf.Deaths.ToString("N0")</td>
                                </tr>
                                @if (roundHalf.FfDamageTotal != 0)
                                {
                                    <tr>
                                        <th>@SharedLocalizer["FF"]:</th>
                                        <td class="slim text-center">@roundHalf.FfDamageTotal.ToString("N0")</td>
                                    </tr>
                                }
                                @if (roundHalf.SiSpawned != 0)
                                {
                                    <tr>
                                        <th>@SharedLocalizer["SiSpawned"]:</th>
                                        <td class="slim text-center">@roundHalf.SiSpawned.ToString("N0")</td>
                                    </tr>
                                }
                                @if (roundHalf.SiKilled != 0)
                                {
                                    <tr>
                                        <th>@SharedLocalizer["SiKilled"]:</th>
                                        <td class="slim text-center">@roundHalf.SiKilled.ToString("N0")</td>
                                    </tr>
                                }
                                @if (roundHalf.SiDamage != 0)
                                {
                                    <tr>
                                        <th>@SharedLocalizer["SiDamage"]:</th>
                                        <td class="slim text-center">@roundHalf.SiDamage.ToString("N0")</td>
                                    </tr>
                                }
                                @if (roundHalf.TankKilled != 0)
                                {
                                    <tr>
                                        <th>@SharedLocalizer["TanksKilled"]:</th>
                                        <td class="slim text-center">@roundHalf.TankKilled.ToString("N0")</td>
                                    </tr>
                                }
                                @if (roundHalf.WitchKilled != 0)
                                {
                                    <tr>
                                        <th>@SharedLocalizer["WitchesKilled"]:</th>
                                        <td class="slim text-center">@roundHalf.WitchKilled.ToString("N0")</td>
                                    </tr>
                                }
                                @if (roundHalf.Common != 0)
                                {
                                    <tr>
                                        <th>@SharedLocalizer["CommonsKilled"]:</th>
                                        <td class="slim text-center">@roundHalf.Common.ToString("N0")</td>
                                    </tr>
                                }
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-6 right-side">
                            <table class="table table-striped table-hover table-bordered table-condensed">
                                <tbody>
                                @if (roundHalf.StartTime != null)
                                {
                                    <tr>
                                        <th>@SharedLocalizer["RoundStart"]:</th>
                                        <td class="slim text-center">@($"{roundHalf.StartTime.Value:d} {roundHalf.StartTime.Value:HH:mm}")</td>
                                    </tr>
                                }
                                @if (roundHalf.EndTime != null)
                                {
                                    <tr>
                                        <th>@SharedLocalizer["RoundEnd"]:</th>
                                        <td class="slim text-center">@($"{roundHalf.EndTime.Value:d} {roundHalf.EndTime.Value:HH:mm}")</td>
                                    </tr>
                                }
                                @if (!string.IsNullOrWhiteSpace(roundHalf.RoundElapsed))
                                {
                                    <tr>
                                        <th>@SharedLocalizer["RoundDuration"]:</th>
                                        <td class="slim text-center">@roundHalf.RoundElapsed</td>
                                    </tr>
                                }
                                @if (roundHalf.StartTimePause != null)
                                {
                                    <tr>
                                        <th>@SharedLocalizer["PauseStart"]:</th>
                                        <td class="slim text-center">@($"{roundHalf.StartTimePause.Value:d} {roundHalf.StartTimePause.Value:HH:mm}")</td>
                                    </tr>
                                }
                                @if (roundHalf.StopTimePause != null)
                                {
                                    <tr>
                                        <th>@SharedLocalizer["PauseEnd"]:</th>
                                        <td class="slim text-center">@($"{roundHalf.StopTimePause.Value:d} {roundHalf.StopTimePause.Value:HH:mm}")</td>
                                    </tr>
                                }
                                @if (!string.IsNullOrWhiteSpace(roundHalf.PauseElapsed))
                                {
                                    <tr>
                                        <th>@SharedLocalizer["PauseDuration"]:</th>
                                        <td class="slim text-center">@roundHalf.PauseElapsed</td>
                                    </tr>
                                }
                                @if (roundHalf.StartTimeTank != null)
                                {
                                    <tr>
                                        <th>@SharedLocalizer["TankStart"]:</th>
                                        <td class="slim text-center">@($"{roundHalf.StartTimeTank.Value:d} {roundHalf.StartTimeTank.Value:HH:mm}")</td>
                                    </tr>
                                }
                                @if (roundHalf.StopTimeTank != null)
                                {
                                    <tr>
                                        <th>@SharedLocalizer["TankEnd"]:</th>
                                        <td class="slim text-center">@($"{roundHalf.StopTimeTank.Value:d} {roundHalf.StopTimeTank.Value:HH:mm}")</td>
                                    </tr>
                                }
                                @if (!string.IsNullOrWhiteSpace(roundHalf.TankElapsed))
                                {
                                    <tr>
                                        <th>@SharedLocalizer["TankDuration"]:</th>
                                        <td class="slim text-center">@roundHalf.TankElapsed</td>
                                    </tr>
                                }
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br/>

    <div class="row">
    <div class="col-md-6">
    <div class="panel panel-default" style="margin-bottom: 0;">
    <div class="panel-heading bold" style="padding: 3px 15px">
        @SharedLocalizer["Survivors"]
    </div>
    <div class="panel-body" style="padding: 0">
    <table class="table table-striped table-hover table-bordered table-condensed">
    <thead>
    <tr>
        <th></th>
        @foreach (var player in players)
        {
            <th class="text-center">@player.PlayerName</th>
        }
    </tr>
    </thead>
    <tbody>
    <tr>
        <th>@SharedLocalizer["Deaths"]:</th>
        @foreach (var player in players)
        {
            <td class="slim text-center">@player.Died.ToString("N0")</td>
        }
    </tr>
    <tr>
        <th>@SharedLocalizer["TimesIncapacitated"]:</th>
        @foreach (var player in players)
        {
            <td class="slim text-center">@player.Incaps.ToString("N0")</td>
        }
    </tr>
    <tr>
        <th>@SharedLocalizer["DamageTaken"]:</th>
        @foreach (var player in players)
        {
            <td class="slim text-center">@player.DmgTaken.ToString("N0")</td>
        }
    </tr>
    <tr>
        <th>@SharedLocalizer["FallDamage"]:</th>
        @foreach (var player in players)
        {
            <td class="slim text-center">@player.FallDamage.ToString("N0")</td>
        }
    </tr>
    <tr>
        <td colspan="@(players.Count + 1)"></td>
    </tr>
    <tr>
        <th>@SharedLocalizer["ShotgunShots"]:</th>
        @foreach (var player in players)
        {
            <td class="slim text-center">@player.ShotsShotgun.ToString("N0")</td>
        }
    </tr>
    <tr>
        <th>@SharedLocalizer["ShotgunHits"]:</th>
        @foreach (var player in players)
        {
            <td class="slim text-center">@player.HitsShotgun.ToString("N0")</td>
        }
    </tr>
    <tr>
        <th>@SharedLocalizer["ShotgunHitsPercent"]:</th>
        @foreach (var player in players)
        {
            var percent = player.ShotsShotgun != 0 ? player.HitsShotgun / (decimal)player.ShotsShotgun : 0;
            <td class="slim text-center">@percent.ToString("P0")</td>
        }
    </tr>
    <tr>
        <th>@SharedLocalizer["ShotgunHitsSI"]:</th>
        @foreach (var player in players)
        {
            <td class="slim text-center">@player.HitsSiShotgun.ToString("N0")</td>
        }
    </tr>
    <tr>
        <th>@SharedLocalizer["ShotgunHitsSIPercent"]:</th>
        @foreach (var player in players)
        {
            var percent = player.ShotsShotgun != 0 ? player.HitsSiShotgun / (decimal)player.ShotsShotgun : 0;
            <td class="slim text-center">@percent.ToString("P0")</td>
        }
    </tr>
    <tr>
        <th>@SharedLocalizer["ShotgunHitsTank"]:</th>
        @foreach (var player in players)
        {
            <td class="slim text-center">@player.HitsTankShotgun.ToString("N0")</td>
        }
    </tr>
    <tr>
        <th>@SharedLocalizer["ShotgunHitsTankPercent"]:</th>
        @foreach (var player in players)
        {
            var percent = player.ShotsShotgun != 0 ? player.HitsTankShotgun / (decimal)player.ShotsShotgun : 0;
            <td class="slim text-center">@percent.ToString("P0")</td>
        }
    </tr>
    <tr>
        <td colspan="@(players.Count + 1)"></td>
    </tr>
    <tr>
        <th>@SharedLocalizer["SmgShots"]:</th>
        @foreach (var player in players)
        {
            <td class="slim text-center">@player.ShotsSmg.ToString("N0")</td>
        }
    </tr>
    <tr>
        <th>@SharedLocalizer["SmgHits"]:</th>
        @foreach (var player in players)
        {
            <td class="slim text-center">@player.HitsSmg.ToString("N0")</td>
        }
    </tr>
    <tr>
        <th>@SharedLocalizer["SmgHitsPercent"]:</th>
        @foreach (var player in players)
        {
            var percent = player.ShotsSmg != 0 ? player.HitsSmg / (decimal)player.ShotsSmg : 0;
            <td class="slim text-center">@percent.ToString("P0")</td>
        }
    </tr>
    <tr>
        <th>@SharedLocalizer["SmgHitsSI"]:</th>
        @foreach (var player in players)
        {
            <td class="slim text-center">@player.HitsSiSmg.ToString("N0")</td>
        }
    </tr>
    <tr>
        <th>@SharedLocalizer["SmgHitsSIPercent"]:</th>
        @foreach (var player in players)
        {
            var percent = player.ShotsSmg != 0 ? player.HitsSiSmg / (decimal)player.ShotsSmg : 0;
            <td class="slim text-center">@percent.ToString("P0")</td>
        }
    </tr>
    <tr>
        <th>@SharedLocalizer["SmgHitsTank"]:</th>
        @foreach (var player in players)
        {
            <td class="slim text-center">@player.HitsTankSmg.ToString("N0")</td>
        }
    </tr>
    <tr>
        <th>@SharedLocalizer["SmgHitsTankPercent"]:</th>
        @foreach (var player in players)
        {
            var percent = player.ShotsSmg != 0 ? player.HitsTankSmg / (decimal)player.ShotsSmg : 0;
            <td class="slim text-center">@percent.ToString("P0")</td>
        }
    </tr>
    <tr>
        <th>@SharedLocalizer["SmgHS"]:</th>
        @foreach (var player in players)
        {
            <td class="slim text-center">@player.HeadshotsSmg.ToString("N0")</td>
        }
    </tr>
    <tr>
        <th>@SharedLocalizer["SmgHSPercent"]:</th>
        @foreach (var player in players)
        {
            var percent = player.ShotsSmg != 0 ? player.HeadshotsSmg / (decimal)player.ShotsSmg : 0;
            <td class="slim text-center">@percent.ToString("P0")</td>
        }
    </tr>
    <tr>
        <th>@SharedLocalizer["SmgHSSI"]:</th>
        @foreach (var player in players)
        {
            <td class="slim text-center">@player.HeadshotsSiSmg.ToString("N0")</td>
        }
    </tr>
    <tr>
        <th>@SharedLocalizer["SmgHSSIPercent"]:</th>
        @foreach (var player in players)
        {
            var percent = player.ShotsSmg != 0 ? player.HeadshotsSiSmg / (decimal)player.ShotsSmg : 0;
            <td class="slim text-center">@percent.ToString("P0")</td>
        }
    </tr>
    <tr>
        <td colspan="@(players.Count + 1)"></td>
    </tr>
    <tr>
        <th>@SharedLocalizer["SniperShots"]:</th>
        @foreach (var player in players)
        {
            <td class="slim text-center">@player.ShotsSniper.ToString("N0")</td>
        }
    </tr>
    <tr>
        <th>@SharedLocalizer["SniperHits"]:</th>
        @foreach (var player in players)
        {
            <td class="slim text-center">@player.HitsSniper.ToString("N0")</td>
        }
    </tr>
    <tr>
        <th>@SharedLocalizer["SniperHitsPercent"]:</th>
        @foreach (var player in players)
        {
            var percent = player.ShotsSniper != 0 ? player.HitsSniper / (decimal)player.ShotsSniper : 0;
            <td class="slim text-center">@percent.ToString("P0")</td>
        }
    </tr>
    <tr>
        <th>@SharedLocalizer["SniperHitsSI"]:</th>
        @foreach (var player in players)
        {
            <td class="slim text-center">@player.HitsSiSniper.ToString("N0")</td>
        }
    </tr>
    <tr>
        <th>@SharedLocalizer["SniperHitsSIPercent"]:</th>
        @foreach (var player in players)
        {
            var percent = player.ShotsSniper != 0 ? player.HitsSiSniper / (decimal)player.ShotsSniper : 0;
            <td class="slim text-center">@percent.ToString("P0")</td>
        }
    </tr>
    <tr>
        <th>@SharedLocalizer["SniperHitsTank"]:</th>
        @foreach (var player in players)
        {
            <td class="slim text-center">@player.HitsTankSniper.ToString("N0")</td>
        }
    </tr>
    <tr>
        <th>@SharedLocalizer["SniperHitsTankPercent"]:</th>
        @foreach (var player in players)
        {
            var percent = player.ShotsSniper != 0 ? player.HitsTankSniper / (decimal)player.ShotsSniper : 0;
            <td class="slim text-center">@percent.ToString("P0")</td>
        }
    </tr>
    <tr>
        <th>@SharedLocalizer["SniperHS"]:</th>
        @foreach (var player in players)
        {
            <td class="slim text-center">@player.HeadshotsSniper.ToString("N0")</td>
        }
    </tr>
    <tr>
        <th>@SharedLocalizer["SniperHSPercent"]:</th>
        @foreach (var player in players)
        {
            var percent = player.ShotsSniper != 0 ? player.HeadshotsSniper / (decimal)player.ShotsSniper : 0;
            <td class="slim text-center">@percent.ToString("P0")</td>
        }
    </tr>
    <tr>
        <th>@SharedLocalizer["SniperHSSI"]:</th>
        @foreach (var player in players)
        {
            <td class="slim text-center">@player.HeadshotsSiSniper.ToString("N0")</td>
        }
    </tr>
    <tr>
        <th>@SharedLocalizer["SniperHSSIPercent"]:</th>
        @foreach (var player in players)
        {
            var percent = player.ShotsSniper != 0 ? player.HeadshotsSiSniper / (decimal)player.ShotsSniper : 0;
            <td class="slim text-center">@percent.ToString("P0")</td>
        }
    </tr>
    <tr>
        <td colspan="@(players.Count + 1)"></td>
    </tr>
    <tr>
        <th>@SharedLocalizer["PistolShots"]:</th>
        @foreach (var player in players)
        {
            <td class="slim text-center">@player.ShotsPistol.ToString("N0")</td>
        }
    </tr>
    <tr>
        <th>@SharedLocalizer["PistolHits"]:</th>
        @foreach (var player in players)
        {
            <td class="slim text-center">@player.HitsPistol.ToString("N0")</td>
        }
    </tr>
    <tr>
        <th>@SharedLocalizer["PistolHitsPercent"]:</th>
        @foreach (var player in players)
        {
            var percent = player.ShotsPistol != 0 ? player.HitsPistol / (decimal)player.ShotsPistol : 0;
            <td class="slim text-center">@percent.ToString("P0")</td>
        }
    </tr>
    <tr>
        <th>@SharedLocalizer["PistolHitsSI"]:</th>
        @foreach (var player in players)
        {
            <td class="slim text-center">@player.HitsSiPistol.ToString("N0")</td>
        }
    </tr>
    <tr>
        <th>@SharedLocalizer["PistolHitsSIPercent"]:</th>
        @foreach (var player in players)
        {
            var percent = player.ShotsPistol != 0 ? player.HitsSiPistol / (decimal)player.ShotsPistol : 0;
            <td class="slim text-center">@percent.ToString("P0")</td>
        }
    </tr>
    <tr>
        <th>@SharedLocalizer["PistolHitsTank"]:</th>
        @foreach (var player in players)
        {
            <td class="slim text-center">@player.HitsTankPistol.ToString("N0")</td>
        }
    </tr>
    <tr>
        <th>@SharedLocalizer["PistolHitsTankPercent"]:</th>
        @foreach (var player in players)
        {
            var percent = player.ShotsPistol != 0 ? player.HitsTankPistol / (decimal)player.ShotsPistol : 0;
            <td class="slim text-center">@percent.ToString("P0")</td>
        }
    </tr>
    <tr>
        <th>@SharedLocalizer["PistolHS"]:</th>
        @foreach (var player in players)
        {
            <td class="slim text-center">@player.HeadshotsPistol.ToString("N0")</td>
        }
    </tr>
    <tr>
        <th>@SharedLocalizer["PistolHSPercent"]:</th>
        @foreach (var player in players)
        {
            var percent = player.ShotsPistol != 0 ? player.HeadshotsPistol / (decimal)player.ShotsPistol : 0;
            <td class="slim text-center">@percent.ToString("P0")</td>
        }
    </tr>
    <tr>
        <th>@SharedLocalizer["PistolHSSI"]:</th>
        @foreach (var player in players)
        {
            <td class="slim text-center">@player.HeadshotsSiPistol.ToString("N0")</td>
        }
    </tr>
    <tr>
        <th>@SharedLocalizer["PistolHSSIPercent"]:</th>
        @foreach (var player in players)
        {
            var percent = player.ShotsPistol != 0 ? player.HeadshotsSiPistol / (decimal)player.ShotsPistol : 0;
            <td class="slim text-center">@percent.ToString("P0")</td>
        }
    </tr>
    <tr>
        <td colspan="@(players.Count + 1)"></td>
    </tr>
    <tr>
        <th>@SharedLocalizer["CommonsKilled"]:</th>
        @foreach (var player in players)
        {
            <td class="slim text-center">@player.Common.ToString("N0")</td>
        }
    </tr>
    <tr>
        <th>@SharedLocalizer["CommonsKilledDuringTank"]:</th>
        @foreach (var player in players)
        {
            <td class="slim text-center">@player.CommonTankUp.ToString("N0")</td>
        }
    </tr>
    <tr>
        <th>@SharedLocalizer["SIKilled"]:</th>
        @foreach (var player in players)
        {
            <td class="slim text-center">@player.SiKilled.ToString("N0")</td>
        }
    </tr>
    <tr>
        <th>@SharedLocalizer["SIKilledDuringTank"]:</th>
        @foreach (var player in players)
        {
            <td class="slim text-center">@player.SiKilledTankUp.ToString("N0")</td>
        }
    </tr>
    <tr>
        <th>@SharedLocalizer["SiDamage"]:</th>
        @foreach (var player in players)
        {
            <td class="slim text-center">@player.SiDamage.ToString("N0")</td>
        }
    </tr>
    <tr>
        <th>@SharedLocalizer["SIDamageDuringTank"]:</th>
        @foreach (var player in players)
        {
            <td class="slim text-center">@player.SiDamageTankUp.ToString("N0")</td>
        }
    </tr>
    <tr>
        <td colspan="@(players.Count + 1)"></td>
    </tr>
    <tr>
        <th>@SharedLocalizer["TankDamage"]:</th>
        @foreach (var player in players)
        {
            <td class="slim text-center">@player.TankDamage.ToString("N0")</td>
        }
    </tr>
    <tr>
        <th>@SharedLocalizer["TankMelees"]:</th>
        @foreach (var player in players)
        {
            <td class="slim text-center">@player.MeleesOnTank.ToString("N0")</td>
        }
    </tr>
    <tr>
        <th>@SharedLocalizer["TankRocksTaken"]:</th>
        @foreach (var player in players)
        {
            <td class="slim text-center">@player.RockEats.ToString("N0")</td>
        }
    </tr>
    <tr>
        <th>@SharedLocalizer["WitchDamage"]:</th>
        @foreach (var player in players)
        {
            <td class="slim text-center">@player.WitchDamage.ToString("N0")</td>
        }
    </tr>
    <tr>
        <td colspan="@(players.Count + 1)"></td>
    </tr>
    <tr>
        <th>@SharedLocalizer["Skeets"]:</th>
        @foreach (var player in players)
        {
            <td class="slim text-center">@player.Skeets.ToString("N0")</td>
        }
    </tr>
    <tr>
        <th>@SharedLocalizer["SkeetsHurt"]:</th>
        @foreach (var player in players)
        {
            <td class="slim text-center">@player.SkeetsHurt.ToString("N0")</td>
        }
    </tr>
    <tr>
        <th>@SharedLocalizer["Levels"]:</th>
        @foreach (var player in players)
        {
            <td class="slim text-center">@player.Levels.ToString("N0")</td>
        }
    </tr>
    <tr>
        <th>@SharedLocalizer["LevelsHurt"]:</th>
        @foreach (var player in players)
        {
            <td class="slim text-center">@player.LevelsHurt.ToString("N0")</td>
        }
    </tr>
    <tr>
        <th>@SharedLocalizer["Crowns"]:</th>
        @foreach (var player in players)
        {
            <td class="slim text-center">@player.Crowns.ToString("N0")</td>
        }
    </tr>
    <tr>
        <th>@SharedLocalizer["CrownsHurt"]:</th>
        @foreach (var player in players)
        {
            <td class="slim text-center">@player.CrownsHurt.ToString("N0")</td>
        }
    </tr>
    <tr>
        <th>@SharedLocalizer["MeleeSkeets"]:</th>
        @foreach (var player in players)
        {
            <td class="slim text-center">@player.SkeetsMelee.ToString("N0")</td>
        }
    </tr>
    <tr>
        <th>@SharedLocalizer["RockSkeets"]:</th>
        @foreach (var player in players)
        {
            <td class="slim text-center">@player.RockSkeets.ToString("N0")</td>
        }
    </tr>
    <tr>
        <th>@SharedLocalizer["DeadStops"]:</th>
        @foreach (var player in players)
        {
            <td class="slim text-center">@player.DeadStops.ToString("N0")</td>
        }
    </tr>
    <tr>
        <th>@SharedLocalizer["TongueCuts"]:</th>
        @foreach (var player in players)
        {
            <td class="slim text-center">@player.TongueCuts.ToString("N0")</td>
        }
    </tr>
    <tr>
        <th>@SharedLocalizer["SelfClears"]:</th>
        @foreach (var player in players)
        {
            <td class="slim text-center">@player.SelfClears.ToString("N0")</td>
        }
    </tr>
    <tr>
        <th>@SharedLocalizer["Clears"]:</th>
        @foreach (var player in players)
        {
            <td class="slim text-center">@player.Clears.ToString("N0")</td>
        }
    </tr>
    <tr>
        <th>@SharedLocalizer["AvgClearTime"]:</th>
        @foreach (var player in players)
        {
            <td class="slim text-center">@player.AvgClearTime.ToString("N0")</td>
        }
    </tr>
    <tr>
        <th>@SharedLocalizer["BoomersPopped"]:</th>
        @foreach (var player in players)
        {
            <td class="slim text-center">@player.Pops.ToString("N0")</td>
        }
    </tr>
    <tr>
        <th>@SharedLocalizer["Shoves"]:</th>
        @foreach (var player in players)
        {
            <td class="slim text-center">@player.Shoves.ToString("N0")</td>
        }
    </tr>
    <tr>
        <td colspan="@(players.Count + 1)"></td>
    </tr>
    <tr>
        <th>@SharedLocalizer["FfHits"]:</th>
        @foreach (var player in players)
        {
            <td class="slim text-center">@player.FfHits.ToString("N0")</td>
        }
    </tr>
    <tr>
        <th>@SharedLocalizer["FfGiven"]:</th>
        @foreach (var player in players)
        {
            <td class="slim text-center">@player.FfGiven.ToString("N0")</td>
        }
    </tr>
    <tr>
        <th>@SharedLocalizer["FfGivenPellet"]:</th>
        @foreach (var player in players)
        {
            <td class="slim text-center">@player.FfGivenPellet.ToString("N0")</td>
        }
    </tr>
    <tr>
        <th>@SharedLocalizer["FfGivenBullet"]:</th>
        @foreach (var player in players)
        {
            <td class="slim text-center">@player.FfGivenBullet.ToString("N0")</td>
        }
    </tr>
    <tr>
        <th>@SharedLocalizer["FfGivenSniper"]:</th>
        @foreach (var player in players)
        {
            <td class="slim text-center">@player.FfGivenSniper.ToString("N0")</td>
        }
    </tr>
    <tr>
        <th>@SharedLocalizer["FfGivenMelee"]:</th>
        @foreach (var player in players)
        {
            <td class="slim text-center">@player.FfGivenMelee.ToString("N0")</td>
        }
    </tr>
    <tr>
        <th>@SharedLocalizer["FfGivenFire"]:</th>
        @foreach (var player in players)
        {
            <td class="slim text-center">@player.FfGivenFire.ToString("N0")</td>
        }
    </tr>
    <tr>
        <th>@SharedLocalizer["FfGivenIncap"]:</th>
        @foreach (var player in players)
        {
            <td class="slim text-center">@player.FfGivenIncap.ToString("N0")</td>
        }
    </tr>
    <tr>
        <th>@SharedLocalizer["FfGivenSelf"]:</th>
        @foreach (var player in players)
        {
            <td class="slim text-center">@player.FfGivenSelf.ToString("N0")</td>
        }
    </tr>
    <tr>
        <th>@SharedLocalizer["FfGivenOther"]:</th>
        @foreach (var player in players)
        {
            <td class="slim text-center">@player.FfGivenOther.ToString("N0")</td>
        }
    </tr>
    <tr>
        <th>@SharedLocalizer["FfGivenTotal"]:</th>
        @foreach (var player in players)
        {
            <td class="slim text-center">@player.FfGivenTotal.ToString("N0")</td>
        }
    </tr>
    <tr>
        <td colspan="@(players.Count + 1)"></td>
    </tr>
    <tr>
        <th>@SharedLocalizer["FfTaken"]:</th>
        <td colspan="@players.Count"></td>
    </tr>
    <tr>
        <th>@SharedLocalizer["FfTakenPellet"]:</th>
        @foreach (var player in players)
        {
            <td class="slim text-center">@player.FfTakenPellet.ToString("N0")</td>
        }
    </tr>
    <tr>
        <th>@SharedLocalizer["FfTakenBullet"]:</th>
        @foreach (var player in players)
        {
            <td class="slim text-center">@player.FfTakenBullet.ToString("N0")</td>
        }
    </tr>
    <tr>
        <th>@SharedLocalizer["FfTakenSniper"]:</th>
        @foreach (var player in players)
        {
            <td class="slim text-center">@player.FfTakenSniper.ToString("N0")</td>
        }
    </tr>
    <tr>
        <th>@SharedLocalizer["FfTakenMelee"]:</th>
        @foreach (var player in players)
        {
            <td class="slim text-center">@player.FfTakenMelee.ToString("N0")</td>
        }
    </tr>
    <tr>
        <th>@SharedLocalizer["FfTakenFire"]:</th>
        @foreach (var player in players)
        {
            <td class="slim text-center">@player.FfTakenFire.ToString("N0")</td>
        }
    </tr>
    <tr>
        <th>@SharedLocalizer["FfTakenIncap"]:</th>
        @foreach (var player in players)
        {
            <td class="slim text-center">@player.FfTakenIncap.ToString("N0")</td>
        }
    </tr>
    <tr>
        <th>@SharedLocalizer["FfTakenOther"]:</th>
        @foreach (var player in players)
        {
            <td class="slim text-center">@player.FfTakenOther.ToString("N0")</td>
        }
    </tr>
    <tr>
        <th>@SharedLocalizer["FfTakenTotal"]:</th>
        @foreach (var player in players)
        {
            <td class="slim text-center">@player.FfTakenTotal.ToString("N0")</td>
        }
    </tr>
    </tbody>
    </table>
    </div>
    </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default" style="margin-bottom: 0;">
            <div class="panel-heading bold" style="padding: 3px 15px">
                @SharedLocalizer["Infecteds"]
            </div>
            <div class="panel-body" style="padding: 0">
                <table class="table table-striped table-hover table-bordered table-condensed">
                    <thead>
                    <tr>
                        <th></th>
                        @foreach (var infectedPlayer in infectedPlayers)
                        {
                            <th class="text-center">@infectedPlayer.PlayerName</th>
                        }
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th>@SharedLocalizer["DmgTotal"]:</th>
                        @foreach (var infectedPlayer in infectedPlayers)
                        {
                            <td class="slim text-center">@infectedPlayer.DmgTotal.ToString("N0")</td>
                        }
                    </tr>
                    <tr>
                        <th>@SharedLocalizer["DmgUpright"]:</th>
                        @foreach (var infectedPlayer in infectedPlayers)
                        {
                            <td class="slim text-center">@infectedPlayer.DmgUpright.ToString("N0")</td>
                        }
                    </tr>
                    <tr>
                        <td colspan="@(infectedPlayers.Count + 1)"></td>
                    </tr>
                    <tr>
                        <th>@SharedLocalizer["TankDmg"]:</th>
                        @foreach (var infectedPlayer in infectedPlayers)
                        {
                            <td class="slim text-center">@infectedPlayer.DmgTank.ToString("N0")</td>
                        }
                    </tr>
                    <tr>
                        <th>@SharedLocalizer["TankIncap"]:</th>
                        @foreach (var infectedPlayer in infectedPlayers)
                        {
                            <td class="slim text-center">@infectedPlayer.DmgTankIncap.ToString("N0")</td>
                        }
                    </tr>
                    <tr>
                        <th>@SharedLocalizer["TankPasses"]:</th>
                        @foreach (var infectedPlayer in infectedPlayers)
                        {
                            <td class="slim text-center">@infectedPlayer.TankPasses.ToString("N0")</td>
                        }
                    </tr>
                    <tr>
                        <td colspan="@(infectedPlayers.Count + 1)"></td>
                    </tr>
                    <tr>
                        <th>@SharedLocalizer["DmgScratch"]:</th>
                        @foreach (var infectedPlayer in infectedPlayers)
                        {
                            <td class="slim text-center">@infectedPlayer.DmgScratch.ToString("N0")</td>
                        }
                    </tr>
                    <tr>
                        <th>@SharedLocalizer["DmgTankUp"]:</th>
                        @foreach (var infectedPlayer in infectedPlayers)
                        {
                            <td class="slim text-center">@infectedPlayer.DmgTankUp.ToString("N0")</td>
                        }
                    </tr>
                    <tr>
                        <th>@SharedLocalizer["DmgSpit"]:</th>
                        @foreach (var infectedPlayer in infectedPlayers)
                        {
                            <td class="slim text-center">@infectedPlayer.DmgSpit.ToString("N0")</td>
                        }
                    </tr>
                    <tr>
                        <th>@SharedLocalizer["DmgBoom"]:</th>
                        @foreach (var infectedPlayer in infectedPlayers)
                        {
                            <td class="slim text-center">@infectedPlayer.DmgBoom.ToString("N0")</td>
                        }
                    </tr>
                    <tr>
                        <td colspan="@(infectedPlayers.Count + 1)"></td>
                    </tr>
                    <tr>
                        <th>@SharedLocalizer["HunterDPs"]:</th>
                        @foreach (var infectedPlayer in infectedPlayers)
                        {
                            <td class="slim text-center">@infectedPlayer.HunterDPs.ToString("N0")</td>
                        }
                    </tr>
                    <tr>
                        <th>@SharedLocalizer["HunterDpDmg"]:</th>
                        @foreach (var infectedPlayer in infectedPlayers)
                        {
                            <td class="slim text-center">@infectedPlayer.HunterDpDmg.ToString("N0")</td>
                        }
                    </tr>
                    <tr>
                        <th>@SharedLocalizer["JockeyDPs"]:</th>
                        @foreach (var infectedPlayer in infectedPlayers)
                        {
                            <td class="slim text-center">@infectedPlayer.JockeyDPs.ToString("N0")</td>
                        }
                    </tr>
                    <tr>
                        <th>@SharedLocalizer["DeathCharges"]:</th>
                        @foreach (var infectedPlayer in infectedPlayers)
                        {
                            <td class="slim text-center">@infectedPlayer.DeathCharges.ToString("N0")</td>
                        }
                    </tr>
                    <tr>
                        <th>@SharedLocalizer["Booms"]:</th>
                        @foreach (var infectedPlayer in infectedPlayers)
                        {
                            <td class="slim text-center">@infectedPlayer.Booms.ToString("N0")</td>
                        }
                    </tr>
                    <tr>
                        <th>@SharedLocalizer["Ledged"]:</th>
                        @foreach (var infectedPlayer in infectedPlayers)
                        {
                            <td class="slim text-center">@infectedPlayer.Lerged.ToString("N0")</td>
                        }
                    </tr>
                    <tr>
                        <td colspan="@(infectedPlayers.Count + 1)"></td>
                    </tr>
                    <tr>
                        <th>@SharedLocalizer["CommonsKilled"]:</th>
                        @foreach (var infectedPlayer in infectedPlayers)
                        {
                            <td class="slim text-center">@infectedPlayer.Common.ToString("N0")</td>
                        }
                    </tr>
                    <tr>
                        <td colspan="@(infectedPlayers.Count + 1)"></td>
                    </tr>
                    <tr>
                        <th>@SharedLocalizer["Spawns"]:</th>
                        @foreach (var infectedPlayer in infectedPlayers)
                        {
                            <td class="slim text-center">@infectedPlayer.Spawns.ToString("N0")</td>
                        }
                    </tr>
                    <tr>
                        <th>@SharedLocalizer["SpawnsSmoker"]:</th>
                        @foreach (var infectedPlayer in infectedPlayers)
                        {
                            <td class="slim text-center">@infectedPlayer.SpawnSmoker.ToString("N0")</td>
                        }
                    </tr>
                    <tr>
                        <th>@SharedLocalizer["SpawnsBoomer"]:</th>
                        @foreach (var infectedPlayer in infectedPlayers)
                        {
                            <td class="slim text-center">@infectedPlayer.SpawnBoomer.ToString("N0")</td>
                        }
                    </tr>
                    <tr>
                        <th>@SharedLocalizer["SpawnsHunter"]:</th>
                        @foreach (var infectedPlayer in infectedPlayers)
                        {
                            <td class="slim text-center">@infectedPlayer.SpawnHunter.ToString("N0")</td>
                        }
                    </tr>
                    <tr>
                        <th>@SharedLocalizer["SpawnsCharger"]:</th>
                        @foreach (var infectedPlayer in infectedPlayers)
                        {
                            <td class="slim text-center">@infectedPlayer.SpawnCharger.ToString("N0")</td>
                        }
                    </tr>
                    <tr>
                        <th>@SharedLocalizer["SpawnsSpitter"]:</th>
                        @foreach (var infectedPlayer in infectedPlayers)
                        {
                            <td class="slim text-center">@infectedPlayer.SpawnSpitter.ToString("N0")</td>
                        }
                    </tr>
                    <tr>
                        <th>@SharedLocalizer["SpawnsJockey"]:</th>
                        @foreach (var infectedPlayer in infectedPlayers)
                        {
                            <td class="slim text-center">@infectedPlayer.SpawnJockey.ToString("N0")</td>
                        }
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>


        <br/>

        <div class="panel panel-default" style="margin-bottom: 0;">
            <div class="panel-heading bold" style="padding: 3px 15px">
                @SharedLocalizer["Spectators"]
            </div>
            <div class="panel-body" style="padding: 0">
                <table class="table table-striped table-hover table-bordered table-condensed">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Steam ID</th>
                        <th>Community ID</th>
                        <th>@SharedLocalizer["Name"]</th>
                    </tr>
                    </thead>
                    <tbody>
                    @for (var i = 0; i < allPlayers.Count; i++)
                    {
                        var playerName = allPlayers[i];
                        <tr>
                            <td>@(i + 1)</td>
                            <td>@playerName.SteamId</td>
                            <td>@playerName.CommunityId</td>
                            <td>
                                <a href="@playerName.ProfileUrl" title="@playerName.Name">
                                    @playerName.Name
                                </a>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
    </div>
    </div>
}
</div>