@using L4D2PlayStats.Sdk.Statistics.Results
@using L4D2PlayStats.UserAvatar
@using L4D2PlayStats.Web
@using Microsoft.Extensions.Localization
@model L4D2PlayStats.Web.Models.StatisticsDetailsModel
@inject IStringLocalizer<SharedResource> SharedLocalizer
@inject IUserAvatar UserAvatar

@section Styles {
<style>
    .maps .label {
    margin: 0 3px;
    }
</style>
}

@if (Model.Statistics.Count == 0)
{
    <div class="row">
        <div class="col-xs-12">
            <h4 class="text-center">
                @SharedLocalizer["NoMatchFound"]
            </h4>
        </div>
    </div>
    return;
}

@{
    var match = Model.Match;
    var gameRound = Model.Statistic?.Statistic?.GameRound;
    var halves = Model.Statistic?.Statistic?.Halves ?? StatisticsResult.HalfResult.EmptyCollection;
    var teamA = Model.Statistic?.Statistic?.TeamA ?? StatisticsResult.PlayerNameResult.EmptyCollection;
    var teamB = Model.Statistic?.Statistic?.TeamB ?? StatisticsResult.PlayerNameResult.EmptyCollection;
    var teams = new List<List<StatisticsResult.PlayerNameResult>> { teamA, teamB };
}

<h4 class="text-center">@SharedLocalizer["MatchDetails"]</h4>

<ol class="breadcrumb">
    <li>
        @Html.ActionLink(SharedLocalizer["LastMatches"].Value, "Index", "LastMatches")
    </li>
    <li>
        @Html.ActionLink(match.Campaign ?? SharedLocalizer["Campaign"].Value, "Details", "LastMatches", new { start = match.Start, end = match.End })
    </li>
    <li>
        @gameRound?.MapName
    </li>
</ol>

<div class="maps">
    <div class="panel panel-default">
        <table class="table table-striped table-hover table-condensed table-responsive">
            <thead>
            <th class="text-center">#</th>
            <th class="text-center">@SharedLocalizer["Map"]</th>
            <th class="text-center">@SharedLocalizer["Start"]</th>
            <th class="text-center">@SharedLocalizer["End"]</th>
            <th class="text-center">@SharedLocalizer["Elapsed"]</th>
            <th class="text-center slim" colspan="3">@SharedLocalizer["Scoreboard"]</th>
            </thead>
            <tbody>
                @for (var i = 0; i < Model.Statistics.Count; i++)
                {
                    var result = Model.Statistics[i];
                    var scoring = result.Statistic?.Scoring;
                    var labelTeamA = scoring?.Draw == true ? "default" : scoring?.TeamAWon == true ? "success" : "danger";
                    var labelTeamB = scoring?.Draw == true ? "default" : scoring?.TeamBWon == true ? "success" : "danger";

                    <tr class="@(Model.Statistic?.StatisticId == result.StatisticId ? "info" : string.Empty)">
                        <td class="text-center" data-label="#">
                            <a href="@Url.Action("Statistics", "LastMatches", new { start = Model.Match.Start, end = Model.Match.End, statisticId = result.StatisticId })">
                                #@(i + 1)
                            </a>
                        </td>
                        <td class="text-center" data-label="@SharedLocalizer["Map"]">
                            <a href="@Url.Action("Statistics", "LastMatches", new { start = Model.Match.Start, end = Model.Match.End, statisticId = result.StatisticId })">
                                @result.Statistic?.GameRound?.MapName
                            </a>
                        </td>
                        <td class="text-center" data-label="@SharedLocalizer["Start"]">@result.Statistic?.MapStart?.ToString("d") @result.Statistic?.MapStart?.ToString("HH:mm")</td>
                        <td class="text-center" data-label="@SharedLocalizer["End"]">@result.Statistic?.MapEnd?.ToString("d") @result.Statistic?.MapEnd?.ToString("HH:mm")</td>
                        <td class="text-center" data-label="@SharedLocalizer["Elapsed"]">@result.Statistic?.MapElapsed?.ToString(@"hh\:mm\:ss")</td>
                        <td class="text-center slim" data-label="@SharedLocalizer["TeamAScore"]">
                            <span class="label label-@labelTeamA" data-toggle="tooltip" data-placement="top" title="@SharedLocalizer["TeamAScore"]">
                                @scoring?.TeamA?.Score.ToString("N0")
                            </span>
                        </td>
                        <td class="text-center slim" data-label="@SharedLocalizer["ScoreDifference"]">
                            <span class="label label-default" data-toggle="tooltip" data-placement="top" title="@SharedLocalizer["ScoreDifference"]">
                                @scoring?.ScoreDiff?.ToString("N0")
                            </span>
                        </td>
                        <td class="text-center slim" data-label="@SharedLocalizer["TeamBScore"]">
                            <span class="label label-@labelTeamB" data-toggle="tooltip" data-placement="top" title="@SharedLocalizer["TeamBScore"]">
                                @scoring?.TeamB?.Score.ToString("N0")
                            </span>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@foreach (var team in teams)
{
    foreach (var playerName in team)
    {
        <img src="@UserAvatar[playerName.CommunityId]" alt="@playerName.Name"/>
        <a href="@playerName.ProfileUrl">
            <p>@playerName.Name</p>
        </a>
    }
}

<ul class="nav nav-tabs">
    @for (var round = 1; round <= halves.Count; round++)
    {
        var firstRound = round == 1;

        <li class="@(firstRound ? "active" : string.Empty)">
            <a href="#tab-round-half-@round" data-toggle="tab">
                Round @round
            </a>
        </li>
    }
</ul>

<div class="tab-content">
    @for (var round = 1; round <= halves.Count; round++)
    {
        var firstRound = round == 1;
        var half = halves[round - 1];
        var roundHalf = half.RoundHalf;

        <div id="tab-round-half-@round" class="tab-pane fade @(firstRound ? "in active" : string.Empty)">
            <p>
                Deaths: @((roundHalf?.Deaths ?? 0).ToString("N0"))
            </p>
        </div>
    }
</div>