@using L4D2PlayStats.Auth
@using L4D2PlayStats.Infrastructure.Extensions
@using L4D2PlayStats.UserAvatar
@using L4D2PlayStats.Web
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@model L4D2PlayStats.Web.Models.HomeModel
@inject IViewLocalizer Localizer
@inject IStringLocalizer<SharedResource> SharedLocalizer
@inject IUserAvatar UserAvatar
@inject ICurrentUser CurrentUser

@section Styles {
    <style>
        .place {
            width: 30px;
        }

        .progress {
            margin: 0;
            height: 10px;
        }

        .progress-bar-danger {
            background-color: #f57b7b;
            border: 1px solid #1c1e22;
        }

        table {
            margin-bottom: 0 !important;
        }

        p {
            margin-bottom: 0 !important;
        }

        th {
            vertical-align: middle !important;
        }
    </style>
}

@section Scripts
{
    <script>
        $(document).ready(function () {
            $('#btn-show-more').click(function () {
                $('#table-ranking tbody tr').removeClass('hidden');
                $('#btn-show-more').hide();
            });
        });
    </script>
}

<h4 class="text-center">@Localizer["Header"]</h4>

<small class="text-right" style="display: block; font-style: italic; margin-bottom: 3px">
    @string.Format(Localizer["NextResetIn"].Value, Model.NextResetIn)
    |
    @Html.ActionLink(Localizer["ViewPreviousRankings"].Value, "Index", "History")
</small>

<table class="table table-striped table-hover table-bordered table-condensed" id="table-ranking">
    <thead>
    <tr>
        <th class="text-center">#</th>
        <th class="text-center">@SharedLocalizer["Patent"]</th>
        <th colspan="2">@SharedLocalizer["Player"]</th>
        <th class="text-center hide-mobile" style="min-width: 90px">XP</th>
        <th class="text-center">@SharedLocalizer["Wins"]</th>
        <th class="text-center hide-mobile">@SharedLocalizer["Loss"]</th>
        <th class="text-center hide-mobile">@SharedLocalizer["MvpSI"]</th>
        <th class="text-center hide-mobile">@SharedLocalizer["MvpCI"]</th>
        <th class="text-center hide-mobile">@SharedLocalizer["WinRate"]</th>
        <th class="text-center hide-mobile">@SharedLocalizer["RageQuit"]</th>
    </tr>
    </thead>
    <tbody>
    @{
        var count = 0;
    }
    @foreach (var ranking in Model.Ranking.Take(100))
    {
        var player = ranking.Player;
        var patentProgress = ranking.PatentProgress;
        var patent = patentProgress.Patent;

        <tr class="hover @(++count > 50 ? "hidden" : string.Empty) @(CurrentUser.ItIsMe(player.CommunityId) ? "active" : string.Empty)">
            <td class="text-center vertical-align-middle">
                @switch (player.Position)
                {
                    case 1:
                        <img src="~/imgs/first-place.png" alt="@SharedLocalizer["FirstPlace"]" title="@SharedLocalizer["FirstPlace"]" class="place" data-toggle="tooltip" data-placement="top"/>
                        break;
                    case 2:
                        <img src="~/imgs/second-place.png" alt="@SharedLocalizer["SecondPlace"]" title="@SharedLocalizer["SecondPlace"]" class="place" data-toggle="tooltip" data-placement="top"/>
                        break;
                    case 3:
                        <img src="~/imgs/third-place.png" alt="@SharedLocalizer["ThirdPlace"]" title="@SharedLocalizer["ThirdPlace"]" class="place" data-toggle="tooltip" data-placement="top"/>
                        break;
                    default:
                        @($"#{player.Position:N0}")
                        break;
                }
            </td>
            <td class="text-center vertical-align-middle slim">
                <img src="@patent.Image" alt="@patent.FullName" data-toggle="tooltip" data-placement="top" title="@patent.FullName" style="width: 32px"/>
            </td>
            <td class="text-center vertical-align-middle slim" style="margin: 0; padding: 0">
                <a href="@Url.Action("Details", "Players", new { communityId = player.CommunityId })" title="@player.Name">
                    <img src="@UserAvatar[player.CommunityId]" alt="@player.Name" style="width: 40px; border-radius: 5px"/>
                </a>
            </td>
            <td class="vertical-align-middle">
                @Html.ActionLink(player.Name?.Truncate(30) ?? "-", "Details", "Players", new { communityId = player.CommunityId })
                @if (patentProgress.LevelUp)
                {
                    <span class="label label-success pulsate" style="float: right" data-toggle="tooltip" data-placement="top" data-html="true" title="@patentProgress.Tooltip">
                        @SharedLocalizer["LevelUp"]
                    </span>
                }
                @if (patentProgress.LevelDrop)
                {
                    <span class="label label-danger pulsate" style="float: right" data-toggle="tooltip" data-placement="top" data-html="true" title="@patentProgress.Tooltip">
                        @SharedLocalizer["LevelDrop"]
                    </span>
                }
            </td>
            <td class="text-center vertical-align-middle hide-mobile">
                <div class="progress" data-toggle="tooltip" data-placement="top" data-html="true" title="@patentProgress.Tooltip">
                        <div class="progress-bar progress-bar-@patentProgress.ProgressBarType @(@patentProgress.ProgressBarType != "info" ? "pulsate" : string.Empty)" role="progressbar" style="width: @patentProgress.ProgressBarWidth;">
                    </div>
                    <div class="progress-bar progress-bar-@patentProgress.PreviousExperienceProgressBarType pulsate" role="progressbar" style="width: @patentProgress.PreviousExperienceProgressBarWidth;">
                    </div>
                </div>
            </td>
            <td class="text-center vertical-align-middle">
                <p data-toggle="tooltip" data-placement="top" title="@SharedLocalizer["Wins"] - @player.WinRate.ToString("P0") @SharedLocalizer["WinRate"]">
                    @player.Wins.ToString("N0")
                </p>
            </td>
            <td class="text-center vertical-align-middle hide-mobile">
                <p data-toggle="tooltip" data-placement="top" title="@SharedLocalizer["Loss"]">
                    @player.Loss.ToString("N0")
                </p>
            </td>
            <td class="text-center vertical-align-middle hide-mobile">
                <p data-toggle="tooltip" data-placement="top" title="@SharedLocalizer["MvpSI"]">
                    @player.MvpSiDamage.ToString("N0")
                </p>
            </td>
            <td class="text-center vertical-align-middle hide-mobile">
                <p data-toggle="tooltip" data-placement="top" title="@SharedLocalizer["MvpCI"]">
                    @player.MvpCommon.ToString("N0")
                </p>
            </td>
            <td class="text-center vertical-align-middle hide-mobile">
                <p data-toggle="tooltip" data-placement="top" title="@SharedLocalizer["WinRate"]">
                    @player.WinRate.ToString("P0")
                </p>
            </td>
            <td class="text-center vertical-align-middle hide-mobile">
                <p data-toggle="tooltip" data-placement="top" title="@SharedLocalizer["RageQuit"]">
                    @player.RageQuit.ToString("N0")
                </p>
            </td>
        </tr>
    }
    </tbody>
</table>

@if (Model.Ranking.Count > 50)
{
    <div class="row text-center" style="margin: 10px">
        <div class="col-md-12">
            <button class="btn btn-sm btn-primary" id="btn-show-more">
                @SharedLocalizer["ShowMore"]
            </button>
        </div>
    </div>
}