@using L4D2PlayStats.Infrastructure.Extensions
@using L4D2PlayStats.UserAvatar
@using L4D2PlayStats.Web
@using Microsoft.Extensions.Localization
@model L4D2PlayStats.Web.Models.PlayerDetailsModel
@inject IUserAvatar UserAvatar
@inject IStringLocalizer<SharedResource> SharedLocalizer

@{
    var firstPlayerRanking = Model.FirstPlayerRanking;
    var firstPlayer = firstPlayerRanking.Player;
    var firstPlayerPatentProgress = firstPlayerRanking.PatentProgress;
    var firstPlayerPatent = firstPlayerPatentProgress.Patent;

    var secondPlayerRanking = Model.SecondPlayerRanking;
    var secondPlayer = secondPlayerRanking?.Player;
    var secondPlayerPatentProgress = secondPlayerRanking?.PatentProgress;
    var secondPlayerPatent = secondPlayerPatentProgress?.Patent;
}

@section Styles {
    <style>
        th {
            width: 1%;
            white-space: nowrap;
            padding-right: 24px !important;
        }

        .progress {
            margin: 0;
        }

        .dropdown-menu {
            height: 175px;
            overflow-y: auto;
        }

        .second {
            color: #FFBC00 !important;
        }

        .separator {
            color: #979797;
        }

        @@media screen and (max-width: 700px) {
            .left-side {
                width: 100% !important;
                margin-bottom: 10px;
            }

            .right-side {
                width: 100% !important;
            }
        }
    </style>
}

<h4 class="text-center">@SharedLocalizer["PlayerDetails"]</h4>

<div class="row">
<div class="col-xs-2 left-side text-center">
    <div class="dropdown">
        <button class="btn btn-default btn-sm btn-block dropdown-toggle" type="button" data-toggle="dropdown">
            @firstPlayer.Name?.Truncate(10)
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            @foreach (var player in Model.Players.Where(player => player.CommunityId != firstPlayer.CommunityId && player.CommunityId != secondPlayer?.CommunityId))
            {
                <li>
                    <a href="@Url.Action("Index", "Player", new { communityId = player.CommunityId, compareWith = secondPlayer?.CommunityId })">#@player.Position - @player.Name</a>
                </li>
            }
        </ul>
    </div>

    <img src="@UserAvatar[firstPlayer.CommunityId]" alt="@firstPlayer.Name" class="img-responsive img-thumbnail" style="margin-top: 5px"/>

    <hr/>

    <div class="dropdown">
        <button class="btn btn-default btn-sm btn-block dropdown-toggle second" type="button" data-toggle="dropdown">
            @(secondPlayer?.Name?.Truncate(10) ?? SharedLocalizer["Compare"])
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            @foreach (var player in Model.Players.Where(player => player.CommunityId != firstPlayer.CommunityId && player.CommunityId != secondPlayer?.CommunityId))
            {
                <li>
                    <a href="@Url.Action("Index", "Player", new { communityId = firstPlayer.CommunityId, compareWith = player.CommunityId })" class="second">
                        #@player.Position - @player.Name
                    </a>
                </li>
            }
        </ul>
    </div>
    @if (secondPlayer != null)
    {
        <img src="@UserAvatar[secondPlayer.CommunityId]" alt="@secondPlayer.Name" class="img-responsive img-thumbnail" style="background-color: #FFBC00; margin-top: 5px"/>
    }
</div>
<div class="col-xs-10 right-side">

<div class="panel panel-default">
    <div class="panel-heading">
        @SharedLocalizer["GeneralStatistics"]
    </div>

    <table class="table table-hover table-condensed table-responsive">
        <tbody>
        <tr>
            <th>@SharedLocalizer["Ranking"]:</th>
            <td data-label="@SharedLocalizer["Ranking"]:">
                #@firstPlayer.Position.ToString("N0")
                @if (secondPlayer != null)
                {
                    <span class="separator"> | </span>
                    <span class="second">#@secondPlayer.Position.ToString("N0")</span>
                }
            </td>

            <th>@SharedLocalizer["SteamId"]:</th>
            <td data-label="@SharedLocalizer["SteamId"]:" colspan="3">
                @firstPlayer.SteamId
                @if (secondPlayer != null)
                {
                    <span class="separator"> | </span>
                    <span class="second">@secondPlayer.SteamId</span>
                }
            </td>
        </tr>
        <tr>
            <th>@SharedLocalizer["Name"]:</th>
            <td data-label="@SharedLocalizer["Name"]:">
                @firstPlayer.Name
                @if (secondPlayer != null)
                {
                    <br/>
                    <span class="second">@secondPlayer.Name</span>
                }
            </td>

            <th>@SharedLocalizer["ProfileUrl"]:</th>
            <td data-label="@SharedLocalizer["ProfileUrl"]:" colspan="3">
                @firstPlayer.ProfileUrl
                @if (secondPlayer != null)
                {
                    <br/>
                    <span class="second">@secondPlayer.ProfileUrl</span>
                }
            </td>
        </tr>
        <tr class="hide-mobile">
            <th class="vertical-align-middle">@SharedLocalizer["Patent"]:</th>
            <td class="vertical-align-middle" data-label="@SharedLocalizer["Patent"]:">
                <img src="@firstPlayerPatent.Image" alt="@firstPlayerPatent.FullName" data-toggle="tooltip" data-placement="top" title="@firstPlayer.Name - @firstPlayerPatent.FullName" style="width: 32px"/>
                @if (secondPlayer != null && secondPlayerPatent != null)
                {
                    <span class="separator"> | </span>
                    <img src="@secondPlayerPatent.Image" alt="@secondPlayerPatent.FullName" data-toggle="tooltip" data-placement="top" title="@secondPlayer.Name - @secondPlayerPatent.FullName" style="width: 32px"/>
                }
            </td>

            <th class="vertical-align-middle">XP:</th>
            <td class="text-center vertical-align-middle" data-label="XP:" colspan="3">
                <div class="progress" data-toggle="tooltip" data-placement="top" data-html="true" title="@firstPlayer.Name - @firstPlayerPatentProgress.Tooltip">
                    <div class="progress-bar progress-bar-@firstPlayerPatentProgress.ProgressBarType" role="progressbar" style="width: @firstPlayerPatentProgress.ProgressBarWidth;">
                    </div>
                    <div class="progress-bar progress-bar-@firstPlayerPatentProgress.PreviousExperienceProgressBarType" role="progressbar" style="width: @firstPlayerPatentProgress.PreviousExperienceProgressBarWidth;">
                    </div>
                </div>
                @if (secondPlayer != null && secondPlayerPatentProgress != null)
                {
                    <p></p>
                    <div class="progress" data-toggle="tooltip" data-placement="top" data-html="true" title="@secondPlayer.Name - @secondPlayerPatentProgress.Tooltip">
                        <div class="progress-bar progress-bar-@secondPlayerPatentProgress.ProgressBarType" role="progressbar" style="width: @secondPlayerPatentProgress.ProgressBarWidth;">
                        </div>
                        <div class="progress-bar progress-bar-@secondPlayerPatentProgress.PreviousExperienceProgressBarType" role="progressbar" style="width: @secondPlayerPatentProgress.PreviousExperienceProgressBarWidth;">
                        </div>
                    </div>
                }
            </td>
        </tr>
        <tr>
            <th>@SharedLocalizer["Games"]:</th>
            <td data-label="@SharedLocalizer["Games"]:">
                @firstPlayer.Games.ToString("N0")
                @if (secondPlayer != null)
                {
                    <span class="separator"> | </span>
                    <span class="second">@secondPlayer.Games.ToString("N0")</span>
                }
            </td>
            <th>@SharedLocalizer["Wins"]:</th>
            <td data-label="@SharedLocalizer["Wins"]:">
                @firstPlayer.Wins.ToString("N0")
                @if (secondPlayer != null)
                {
                    <span class="separator"> | </span>
                    <span class="second">@secondPlayer.Wins.ToString("N0")</span>
                }
            </td>
            <th>@SharedLocalizer["RageQuit"]:</th>
            <td data-label="@SharedLocalizer["RageQuit"]:">
                @firstPlayer.RageQuit.ToString("N0")
                @if (secondPlayer != null)
                {
                    <span class="separator"> | </span>
                    <span class="second">@secondPlayer.RageQuit.ToString("N0")</span>
                }
            </td>
        </tr>
        <tr>
            <th>@SharedLocalizer["WinRate"]:</th>
            <td data-label="@SharedLocalizer["WinRate"]:">
                @firstPlayer.WinRate.ToString("P0")
                @if (secondPlayer != null)
                {
                    <span class="separator"> | </span>
                    <span class="second">@secondPlayer.WinRate.ToString("P0")</span>
                }
            </td>
            <th>@SharedLocalizer["Loss"]:</th>
            <td data-label="@SharedLocalizer["Loss"]:" colspan="3">
                @firstPlayer.Loss.ToString("N0")
                @if (secondPlayer != null)
                {
                    <span class="separator"> | </span>
                    <span class="second">@secondPlayer.Loss.ToString("N0")</span>
                }
            </td>
        </tr>
        </tbody>
    </table>
</div>

<hr/>

<div class="panel panel-default">
    <div class="panel-heading">
        @SharedLocalizer["StatisticsAsSurvivor"]
    </div>
    <table class="table table-hover table-condensed table-responsive">
        <tbody>
        <tr>
            <th>@SharedLocalizer["MvpSI"]:</th>
            <td data-label="@SharedLocalizer["MvpSI"]:">
                @firstPlayer.MvpSiDamage.ToString("N0")
                @if (secondPlayer != null)
                {
                    <span class="separator"> | </span>
                    <span class="second">@secondPlayer.MvpSiDamage.ToString("N0")</span>
                }
            </td>
            <th>@SharedLocalizer["MvpCI"]:</th>
            <td data-label="@SharedLocalizer["MvpCI"]:">
                @firstPlayer.MvpCommon.ToString("N0")
                @if (secondPlayer != null)
                {
                    <span class="separator"> | </span>
                    <span class="second">@secondPlayer.MvpCommon.ToString("N0")</span>
                }
            </td>
            <th>@SharedLocalizer["Lvp"]:</th>
            <td data-label="@SharedLocalizer["Lvp"]:">
                @firstPlayer.LvpFfGiven.ToString("N0")
                @if (secondPlayer != null)
                {
                    <span class="separator"> | </span>
                    <span class="second">@secondPlayer.LvpFfGiven.ToString("N0")</span>
                }
            </td>
        </tr>

        <tr>
            <th>@SharedLocalizer["SiKilled"]:</th>
            <td data-label="@SharedLocalizer["SiKilled"]:">
                @firstPlayer.SiKilled.ToString("N0")
                @if (secondPlayer != null)
                {
                    <span class="separator"> | </span>
                    <span class="second">@secondPlayer.SiKilled.ToString("N0")</span>
                }
            </td>
            <th>@SharedLocalizer["Commons"]:</th>
            <td data-label="@SharedLocalizer["Commons"]:">
                @firstPlayer.Common.ToString("N0")
                @if (secondPlayer != null)
                {
                    <span class="separator"> | </span>
                    <span class="second">@secondPlayer.Common.ToString("N0")</span>
                }
            </td>
            <th>@SharedLocalizer["SiDamage"]:</th>
            <td data-label="@SharedLocalizer["SiDamage"]:">
                @firstPlayer.SiDamage.ToString("N0")
                @if (secondPlayer != null)
                {
                    <span class="separator"> | </span>
                    <span class="second">@secondPlayer.SiDamage.ToString("N0")</span>
                }
            </td>
        </tr>

        <tr>
            <th>@SharedLocalizer["Deaths"]:</th>
            <td data-label="@SharedLocalizer["Deaths"]:">
                @firstPlayer.Died.ToString("N0")
                @if (secondPlayer != null)
                {
                    <span class="separator"> | </span>
                    <span class="second">@secondPlayer.Died.ToString("N0")</span>
                }
            </td>
            <th>@SharedLocalizer["TimesIncap"]:</th>
            <td data-label="@SharedLocalizer["TimesIncap"]:">
                @firstPlayer.Incaps.ToString("N0")
                @if (secondPlayer != null)
                {
                    <span class="separator"> | </span>
                    <span class="second">@secondPlayer.Incaps.ToString("N0")</span>
                }
            </td>
            <th>@SharedLocalizer["DamageTaken"]:</th>
            <td data-label="@SharedLocalizer["DamageTaken"]:">
                @firstPlayer.DmgTaken.ToString("N0")
                @if (secondPlayer != null)
                {
                    <span class="separator"> | </span>
                    <span class="second">@secondPlayer.DmgTaken.ToString("N0")</span>
                }
            </td>
        </tr>

        <tr>
            <th>@SharedLocalizer["TankDamage"]:</th>
            <td data-label="@SharedLocalizer["TankDamage"]:">
                @firstPlayer.TankDamage.ToString("N0")
                @if (secondPlayer != null)
                {
                    <span class="separator"> | </span>
                    <span class="second">@secondPlayer.TankDamage.ToString("N0")</span>
                }
            </td>
            <th>@SharedLocalizer["Skeets"]:</th>
            <td data-label="@SharedLocalizer["Skeets"]:">
                @firstPlayer.Skeets.ToString("N0")
                @if (secondPlayer != null)
                {
                    <span class="separator"> | </span>
                    <span class="second">@secondPlayer.Skeets.ToString("N0")</span>
                }
            </td>
            <th>@SharedLocalizer["Levels"]:</th>
            <td data-label="@SharedLocalizer["Levels"]:">
                @firstPlayer.Levels.ToString("N0")
                @if (secondPlayer != null)
                {
                    <span class="separator"> | </span>
                    <span class="second">@secondPlayer.Levels.ToString("N0")</span>
                }
            </td>
        </tr>

        <tr>
            <th>@SharedLocalizer["RocksEats"]:</th>
            <td data-label="@SharedLocalizer["RocksEats"]:">
                @firstPlayer.RockEats.ToString("N0")
                @if (secondPlayer != null)
                {
                    <span class="separator"> | </span>
                    <span class="second">@secondPlayer.RockEats.ToString("N0")</span>
                }
            </td>
            <th>@SharedLocalizer["FF"]:</th>
            <td data-label="@SharedLocalizer["FF"]:">
                @firstPlayer.FfGiven.ToString("N0")
                @if (secondPlayer != null)
                {
                    <span class="separator"> | </span>
                    <span class="second">@secondPlayer.FfGiven.ToString("N0")</span>
                }
            </td>
            <th class="hide-mobile"></th>
            <td class="hide-mobile"></td>
        </tr>
        </tbody>
    </table>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        @SharedLocalizer["StatisticsAsInfected"]
    </div>
    <table class="table table-hover table-condensed table-responsive">
        <tbody>
        <tr>
            <th>@SharedLocalizer["TotalDamage"]:</th>
            <td data-label="@SharedLocalizer["TotalDamage"]:">
                @firstPlayer.DmgTotal.ToString("N0")
                @if (secondPlayer != null)
                {
                    <span class="separator"> | </span>
                    <span class="second">@secondPlayer.DmgTotal.ToString("N0")</span>
                }
            </td>

            <th>@SharedLocalizer["TankDamageDealt"]:</th>
            <td data-label="@SharedLocalizer["TankDamageDealt"]:">
                @firstPlayer.DmgTank.ToString("N0")
                @if (secondPlayer != null)
                {
                    <span class="separator"> | </span>
                    <span class="second">@secondPlayer.DmgTank.ToString("N0")</span>
                }
            </td>
        </tr>

        <tr>
            <th>@SharedLocalizer["DamageSpitter"]:</th>
            <td data-label="@SharedLocalizer["DamageSpitter"]:">
                @firstPlayer.DmgSpit.ToString("N0")
                @if (secondPlayer != null)
                {
                    <span class="separator"> | </span>
                    <span class="second">@secondPlayer.DmgSpit.ToString("N0")</span>
                }
            </td>

            <th>@SharedLocalizer["HunterPounceDamage"]:</th>
            <td data-label="@SharedLocalizer["HunterPounceDamage"]:">
                @firstPlayer.HunterDpDmg.ToString("N0")
                @if (secondPlayer != null)
                {
                    <span class="separator"> | </span>
                    <span class="second">@secondPlayer.HunterDpDmg.ToString("N0")</span>
                }
            </td>
        </tr>
        </tbody>
    </table>
</div>

</div>
</div>

<h4 class="text-center">@SharedLocalizer["LastMatches"]</h4>

<div class="match">
    @foreach (var match in Model.LastMatches)
    {
        @await Html.PartialAsync("../LastMatches/_Match", match)
    }
</div>